@use "../../../var" as vars;
@use "../../../mixins" as mixins;

.contact {
  display: flex;
  background-color: var(--background);

  .content {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    padding-block: 77px;
    padding-inline: 96px;

    @media (max-width: vars.$breakpoint-xl) {
      padding-block: 50px;
    }

    @media (max-width: vars.$breakpoint-lg) {
      flex-direction: column;
      padding-block: 100px;
      padding-inline: 16px;
      max-width: 600px;
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .header {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .title {
          font-size: 24px;
          font-weight: 500;
          color: var(--primary-color);

          @media (max-width: vars.$breakpoint-xl) {
            font-size: 18px;
          }
        }

        .subtitle {
          font-size: 64px;
          font-weight: bold;
          color: var(--primary-color);

          @media (max-width: vars.$breakpoint-xl) {
            font-size: 40px;
          }

          @media (max-width: vars.$breakpoint-lg) {
            text-align: center;
          }

          @media (max-width: vars.$breakpoint-xs) {
            font-size: 28px;
          }
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .question {
          font-size: 24px;
          font-weight: bold;
          color: var(--primary-color);

          @media (max-width: vars.$breakpoint-xl) {
            font-size: 18px;
          }

          @media (max-width: vars.$breakpoint-lg) {
            text-align: center;
          }
        }

        .description {
          font-weight: 400;
          color: var(--secondary-color);

          @media (max-width: vars.$breakpoint-lg) {
            text-align: center;
          }

          .highlight {
            font-weight: bold;
            color: var(--primary-color);
            white-space: nowrap;
          }
        }
      }
    }

    .contact-form-wrapper {
      max-width: 616px;
      width: 100%;

      .contact-form {
        display: flex;
        flex-direction: column;

        .form-group {
          display: flex;
          flex-direction: column;
          gap: 16px;
          border-bottom: 1px solid var(--primary-color-50);
          padding: 32px;

          &:first-child {
            border-top: 1px solid var(--primary-color-50);
          }

          & label {
            font-family: "FiraCode";
            font-size: 24px;
            font-weight: 400;
            color: var(--primary-color);

            @media (max-width: vars.$breakpoint-xl) {
              font-size: 20px;
            }

            @media (max-width: vars.$breakpoint-xs) {
              font-size: 16px;
            }
          }

          & input,
          & textarea {
            font-size: 24px;
            font-weight: 400;
            color: var(--secondary-color);
            outline: none;
            border: none;
            background-color: transparent;
            transition: border-color 0.3s;
            caret-color: var(--primary-color);

            @media (max-width: vars.$breakpoint-xl) {
              font-size: 20px;
            }

            @media (max-width: vars.$breakpoint-xs) {
              font-size: 16px;
            }

            &::placeholder {
              font-size: 18px;
              font-weight: 400;
            }

            &.placeholder-valid {
              &::placeholder {
                color: var(--secondary-color-80);
              }
            }

            &.placeholder-invalid {
              &::placeholder {
                color: var(--invalid);
              }
            }

            &:-webkit-autofill {
              -webkit-box-shadow: 0 0 0px 1000px transparent inset;
              transition: background-color 5000s ease-in-out 0s;
              -webkit-text-fill-color: var(--secondary-color-80);
            }
          }
        }

        .form-group-privacy {
          display: flex;
          flex-direction: column;
          margin-top: 40px;
          margin-bottom: 16px;
          gap: 50px;
          margin-inline: auto;

          .form-privacy {
            display: flex;
            gap: 11px;

            input[type="checkbox"] {
              opacity: 0;
              width: 0;
              height: 0;
              position: absolute;

              &:checked + .custom-checkbox {
                &::after {
                  display: block;
                }
              }
            }

            .custom-checkbox {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              background-color: transparent;
              border: 2px solid var(--primary-color);
              border-radius: 2px;
              min-width: 18px;
              min-height: 18px;
              max-width: 18px;
              max-height: 18px;
              cursor: pointer;
              transition: background-color 0.2s ease, border-color 0.2s ease;

              &.notChecked {
                border-color: var(--invalid);
              }

              &:hover {
                background-color: var(--primary-color-30);
              }

              &::after {
                display: none;
                content: "✔";
                color: var(--primary-color);
                font-size: 14px;
              }
            }

            .agree-text {
              font-size: 15px;
              font-weight: 400;
              color: var(--secondary-color);

              .privacy-link {
                color: var(--primary-color);

                &:hover {
                  color: var(--secondary-color);
                }
              }
            }
          }

          .form-submit {
            @include mixins.default-button;
            margin-inline: auto;

            &.disabled {
              &:hover {
                // cursor: not-allowed;
                border-color: var(--invalid);
                transition: border-color 0ms;
              }

              &:hover span {
                color: var(--invalid);
              }

              span {
                animation: none;
                transition: color 0ms;
                color: var(--secondary-color);
              }
            }
          }
        }
      }
    }
  }
}
