<section class="contact">
  <div class="content">
    <app-contact-info></app-contact-info>
    <div class="contact-form-wrapper">
      <form
        (ngSubmit)="onSubmit(contactForm)"
        #contactForm="ngForm"
        class="contact-form"
      >
        <div class="form-group">
          <label for="name">{{ texts.contactFormName }}</label>
          <input
            [ngClass]="placeholderNameClass"
            [(ngModel)]="contactData.name"
            type="text"
            id="name"
            name="name"
            placeholder="{{ placeholderName }}"
            class="form-input"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">{{ texts.contactFormEmail }}</label>
          <input
            [ngClass]="placeholderEmailClass"
            [(ngModel)]="contactData.email"
            #email="ngModel"
            type="email"
            id="email"
            name="email"
            placeholder="{{ placeholderEmail }}"
            class="form-input"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          />
        </div>
        <div class="form-group">
          <label for="message">{{ texts.contactFormMessage }}</label>
          <textarea
            [ngClass]="placeholderMessageClass"
            [(ngModel)]="contactData.message"
            rows="5"
            id="message"
            name="message"
            placeholder="{{ placeholderMessage }}"
            class="form-textarea"
            required
          ></textarea>
        </div>
        <div class="form-group-privacy">
          <label class="form-privacy">
            <input
              (change)="onPrivacyPolicyChange($event)"
              [(ngModel)]="privacyPolicyChecked"
              type="checkbox"
              id="privacy-policy"
              name="privacy-policy"
            />
            <span
              class="custom-checkbox"
              [class.notChecked]="privacyPolicyChecked === false"
            ></span>
            <span class="agree-text">
              {{ texts.contactFormPrivacyPolicyText1 }}
              <a [routerLink]="['privacy']" class="privacy-link">{{
                texts.contactFormPrivacyPolicyText2
              }}</a>
              {{ texts.contactFormPrivacyPolicyText3 }}
            </span>
          </label>

          @if (!showFeedback) {
          <button
            type="submit"
            class="form-submit"
            [class.disabled]="!isFormValid(contactForm)"
          >
            <span>{{ texts.contactFormSubmit }}</span>
          </button>
          } @else {
          <button class="submitted" disabled>
            <span>{{ texts.contactFormSubmitted }}</span>
          </button>
          }
        </div>
      </form>
    </div>
  </div>
</section>
