<section class="contact">
  <div class="content">
    <div class="contact-info">
      <div class="header">
        <h3 class="title">Contact me</h3>
        <h2 class="subtitle">Let's work <br />together</h2>
      </div>
      <div class="details">
        <h3 class="question">Got a problem to solve?</h3>
        <p class="description">
          Contact me through this form, I am interested in hearing from you,
          knowing your ideas and contributing to your projects with my work.
          <br />
          <br />
          Need a Frontend developer?
          <span class="highlight">Let’s talk!</span>
        </p>
      </div>
    </div>
    <div class="contact-form-wrapper">
      <form class="contact-form">
        <div class="form-group">
          <label for="name">What's your name?</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Your name goes here"
            class="form-input"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">What's your email?</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="youremail@email.com"
            class="form-input"
            required
          />
        </div>
        <div class="form-group">
          <label for="message">How can I help you?</label>
          <textarea
            id="message"
            name="message"
            placeholder="Hello Lukas, I am interested in..."
            class="form-textarea"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label class="form-privacy">
            <input
              type="checkbox"
              id="privacy-policy"
              name="privacy-policy"
              required
            />
            I've read the
            <a href="#" class="privacy-link">privacy policy</a> and agree to the
            processing of my data as outlined.
          </label>
        </div>
        <button type="submit" class="form-submit">Say Hello ;)</button>
      </form>
    </div>
  </div>
</section>
