<section class="contact">
  <div class="content">
    <div class="contact-info">
      <div class="header">
        <h3 class="title">Contact me</h3>
        <h2 class="subtitle">Let's work <br />together</h2>
      </div>
      <div class="details">
        <h3 class="question">Got a problem to solve?</h3>
        <p class="description">
          Contact me through this form, I am interested in hearing from you,
          knowing your ideas and contributing to your projects with my work.
          <br />
          <br />
          Need a Frontend developer?
          <span class="highlight">Let’s talk!</span>
        </p>
      </div>
    </div>
    <div class="contact-form-wrapper">
      <form
        (ngSubmit)="onSubmit(contactForm)"
        #contactForm="ngForm"
        class="contact-form"
      >
        <div class="form-group">
          <label for="name">What's your name?</label>
          <input
            [ngClass]="placeholderNameClass"
            [(ngModel)]="contactData.name"
            type="text"
            id="name"
            name="name"
            placeholder="{{ placeholderName }}"
            class="form-input"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">What's your email?</label>
          <input
            [ngClass]="placeholderEmailClass"
            [(ngModel)]="contactData.email"
            #email="ngModel"
            type="email"
            id="email"
            name="email"
            placeholder="{{ placeholderEmail }}"
            class="form-input"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          />
        </div>
        <div class="form-group">
          <label for="message">How can I help you?</label>
          <textarea
            [ngClass]="placeholderMessageClass"
            [(ngModel)]="contactData.message"
            rows="5"
            id="message"
            name="message"
            placeholder="{{ placeholderMessage }}"
            class="form-textarea"
            required
          ></textarea>
        </div>
        <div class="form-group-privacy">
          <label class="form-privacy">
            <input
              (change)="onPrivacyPolicyChange($event)"
              type="checkbox"
              id="privacy-policy"
              name="privacy-policy"
            />
            <span class="custom-checkbox"></span>
            <span class="agree-text">
              I've read the
              <a href="#" class="privacy-link">privacy policy</a> and agree to
              the processing of my data as outlined.
            </span>
          </label>
          <button
            type="submit"
            class="form-submit"
            [disabled]="!privacyPolicyChecked"
          >
            <span>Say Hello ;)</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
