<section class="project-modal">
  <div class="info-box">
    <div class="header">
      <h2 class="index">01</h2>
      <h3 class="project-name">Join</h3>
    </div>
    <div class="infos">
      <div class="info-texts">
        <h3 class="heading">What is this project about?</h3>
        <p class="textarea">
          Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </p>
      </div>
      <div class="technologies">
        <div class="technology">
          <img class="icon" src="/images/skills/html-green.svg" alt="HTML" />
          <span class="name">HTML</span>
        </div>
        <div class="technology">
          <img class="icon" src="/images/skills/css-green.svg" alt="CSS" />
          <span class="name">CSS</span>
        </div>
        <div class="technology">
          <img
            class="icon"
            src="/images/skills/javascript-green.svg"
            alt="JavaScript"
          />
          <span class="name">JavaScript</span>
        </div>
      </div>
    </div>
    <div class="button-group">
      <button>
        GitHub<img
          class="arrow"
          src="/images/icons/arrow_outward-green.svg"
          alt="arrow"
        />
      </button>
      <button>
        Live<img
          class="arrow"
          src="/images/icons/arrow_outward-green.svg"
          alt="arrow"
        />
      </button>
    </div>
  </div>
  <div class="project-image">
    <img src="/images/projects/join.jpg" alt="Join" />
  </div>
</section>
