<section (click)="$event.stopPropagation()" class="project-modal">
  <div class="info-box">
    <div class="header">
      <h2 class="index">0{{ projects[currentProject].id }}</h2>
      <h3 class="project-name">{{ projects[currentProject].name }}</h3>
    </div>
    <div class="infos">
      <div class="info-texts">
        <h3 class="heading">{{ projects[currentProject].about }}</h3>
        <p class="textarea">
          {{ projects[currentProject].description }}
        </p>
      </div>
      <div class="technologies">
        @for ( technology of projects[currentProject].technologies; track
        $index) {
        <div class="technology">
          <div class="icon" [innerHTML]="returnIcon(technology.icon)"></div>
          <span class="name">
            {{ technology.name }}
          </span>
        </div>
        }
      </div>
    </div>
    <div class="button-group">
      <button (click)="openLink(projects[currentProject].links.github)">
        GitHub
        <div class="arrow" [innerHTML]="returnIcon('arrowOutward')"></div>
      </button>
      <button (click)="openLink(projects[currentProject].links.liveTest)">
        Live Test
        <div class="arrow" [innerHTML]="returnIcon('arrowOutward')"></div>
      </button>
    </div>
  </div>
  <div
    (click)="openLink(projects[currentProject].links.liveTest)"
    class="project-image"
  >
    <img src="{{ projects[currentProject].imagePath }}" alt="project image" />
    <div class="bg"></div>
  </div>
  <button (click)="closeModal()" class="close-button">
    <div class="cross" [innerHTML]="returnIcon('cross')"></div>
  </button>
  <div class="nav-buttons">
    <button (click)="previousProject()" class="previous-project">
      <div class="arrow-left" [innerHTML]="returnIcon('arrowBackward')"></div>
    </button>
    <button (click)="nextProject()" class="next-project">
      <div class="arrow-right" [innerHTML]="returnIcon('arrowForward')"></div>
    </button>
  </div>
</section>
