@use "../../../../functions" as *;
@use "../../../../mixins" as *;
@use "../../../../var" as *;

.certificates {
  @include display-flex(start, space-between, column);
  gap: px-to-rem(5);
  width: 100%;

  .certificate {
    @include button-preset;
    @include font-settings;
    @include display-grid(center);
    grid-template-columns: repeat(5, 1fr);
    text-align: left;
    gap: px-to-rem(25);
    padding: px-to-rem(10) px-to-rem(20);
    border-radius: px-to-rem(10);
    max-width: calc(100% - px-to-rem(40));
    width: 100%;

    transition: background-color 0.3s ease-in-out;

    &:hover {
      transition: background-color 0s ease-in-out;
      background-color: var(--secondary-color-12);
      cursor: pointer;
    }

    @media screen and (max-width: $breakpoint-sm) {
      max-width: 100%;
    }

    &::ng-deep .icon {
      @include display-flex(center, center);
      height: px-to-rem(25);
      width: px-to-rem(25);
      fill: var(--secondary-color);
    }

    .course {
      @include display-flex(center, start);
      grid-column: span 2;
      gap: px-to-rem(10);
    }
  }
}
