<div class="certificates">
  @for (certificate of certificates; track $index) { @if
  (certificate.visibility) {
  <button
    (click)="modalService.openModal(certificates, $index, 'certificate')"
    class="certificate"
  >
    <div class="course">
      <div
        [innerHTML]="
          svgIconsService.returnIcon(
            certificate.icon,
            certificate.icon + ' icon'
          )
        "
      ></div>
      <p class="title">
        {{
          languageService.getLanguage() == "de"
            ? certificate.titleDE
            : certificate.titleEN
        }}
      </p>
    </div>
    <p class="tutor">{{ certificate.tutor }}</p>
    <p class="platform">{{ certificate.platform }}</p>
    <p class="date">{{ certificate.date }}</p>
  </button>

  } }
</div>
