<div class="certificates">
  @for (certificate of certificates; track $index) {
  <button
    (click)="modalService.openModal(certificates, $index, 'certificate')"
    class="certificate"
  >
    <div class="course">
      <div
        [innerHTML]="
          svgIconsService.returnIcon(
            certificate.icon,
            certificate.icon + ' icon'
          )
        "
      ></div>
      <p class="title">{{ certificate.title }}</p>
    </div>
    <p class="tutor">{{ certificate.tutor }}</p>
    <p class="platform">{{ certificate.platform }}</p>
    <p class="date">{{ certificate.date }}</p>
  </button>
  }
</div>
