<div class="snake">
  <div class="title-bar">
    <h3 class="title">Placeholder</h3>
    <div class="controls">
      <app-window-controls
        [windowService]="windowService"
        [svgIconsService]="svgIconsService"
        [languageService]="languageService"
        [modalService]="modalService"
        [index]="0"
        [activeModal]="'snake.exe'"
      ></app-window-controls>
    </div>
  </div>
  @if (windowService.ifContentOpen) {
  <div class="content" [ngClass]="{ 'modal-active': modalActive }">
    <p>snake works!</p>
  </div>
  }
</div>
