<div class="snake">
  <div class="title-bar">
    <h3 class="title">Score: {{ currentScore }}</h3>
    <div class="controls">
      <app-window-controls
        [windowService]="windowService"
        [svgIconsService]="svgIconsService"
        [languageService]="languageService"
        [modalService]="modalService"
        [index]="0"
        [activeModal]="'snake.exe'"
      ></app-window-controls>
    </div>
  </div>
  @if (windowService.ifContentOpen) {
  <div class="content" [ngClass]="{ 'modal-active': modalActive }">
    <app-snake-canvas (scoreChange)="onScoreChange($event)"></app-snake-canvas>
  </div>
  }
</div>
