@use "../../../functions" as *;
@use "../../../mixins" as *;
@use "../../../var" as *;

.snake {
  @include window-default-style();
  max-width: calc(px-to-rem(600) + px-to-rem(2)); // + 2px border

  margin-inline: auto;

  .title-bar {
    @include title-bar-default-style;

    .title {
      @include title-default-style();

      @media (max-height: $breakpoint-sm) and (orientation: landscape) {
        visibility: hidden;
      }
    }
  }

  .content {
    @include window-content;
    padding: 0;

    &.modal-active {
      min-height: fit-content;
      max-height: fit-content;
    }
  }
}

.desktop-icons {
  @include button-preset();
  @include desktop-icon-style(right);
}
