@if (windowService.ifWindowOpen) {
<div class="expertise">
  <div class="title-bar">
    <div class="taps">
      @for (tap of
      languageService.objectKeys(languageService.texts.expertise.certificates.taps);
      track $index) {
      <button
        class="tap"
        [class.active]="tapService.activeTapExpertise === tap"
        (click)="tapService.activateTap(tap, 'expertise')"
        [attr.aria-pressed]="tapService.activeTapExpertise === tap"
        [attr.aria-label]="languageService.texts.expertise.ariaLabels.taps[tap]"
      >
        {{ languageService.texts.expertise.certificates.taps[tap] }}
        <div [innerHTML]="svgIconsService.returnIcon('close', 'icon')"></div>
      </button>
      }
    </div>
    <div class="controls">
      <app-window-controls
        [windowService]="windowService"
        [svgIconsService]="svgIconsService"
        [languageService]="languageService"
        [modalService]="modalService"
        [modal]="'unset'"
        [index]="0"
        [activeModal]="'expertise'"
        [activeTap]="tapService.activeTapExpertise"
        [tapService]="tapService"
      ></app-window-controls>
    </div>
  </div>
  @if (windowService.ifContentOpen) {
  <div class="content" [ngClass]="{ 'modal-active': modalActive }">
    @if ( tapService.activeTapExpertise === 'skills') {
    <app-skills></app-skills>
    } @if (tapService.activeTapExpertise === 'certificates') {
    <app-certificates></app-certificates>
    }
  </div>
  }
</div>
} @else {
<button
  class="desktop-icons"
  (click)="windowService.openWindow()"
  [innerHTML]="svgIconsService.returnIcon('folder', 'desktop-icon')"
  [attr.aria-label]="languageService.texts.expertise.ariaLabels.desktopIcon"
></button>
}
