<section>
  @if (windowService.isWindowOpen) {
  <div class="expertise">
    <div class="title-bar">
      <div class="taps">
        <button
          class="tap"
          [class.active]="tapService.isTapActive('skills')"
          (click)="tapService.activateTap('skills')"
        >
          skills_profile
          <div [innerHTML]="svgIconsService.returnIcon('close', 'icon')"></div>
        </button>
        <button
          class="tap"
          [class.active]="tapService.isTapActive('certificates')"
          (click)="tapService.activateTap('certificates')"
        >
          certificates
          <div [innerHTML]="svgIconsService.returnIcon('close', 'icon')"></div>
        </button>
      </div>

      <div class="controls">
        <button
          (click)="windowService.closeContent()"
          [innerHTML]="svgIconsService.returnIcon('minimize', 'icon')"
        ></button>
        <button
          (click)="windowService.openContent()"
          [innerHTML]="svgIconsService.returnIcon('maximize', 'icon')"
        ></button>
        <button
          (click)="windowService.closeWindow()"
          [innerHTML]="svgIconsService.returnIcon('close', 'icon')"
        ></button>
      </div>
    </div>
    @if (windowService.isContentOpen) {
    <div class="content">
      @if (tapService.isTapActive('skills')) {
      <app-skills></app-skills>
      } @if (tapService.isTapActive('certificates')) {
      <app-certificates></app-certificates>
      }
    </div>
    }
  </div>
  } @else {
  <button
    class="desktop-icons"
    (click)="windowService.openWindow()"
    [innerHTML]="svgIconsService.returnIcon('folder', 'desktop-icon')"
  ></button>
  }
</section>
