@let projects = languageService.projects; @let generalAriaLabels =
languageService.texts.general.ariaLabels.desktopIcon; @let ariaLabels =
languageService.texts.projects.ariaLabels; @if (windowService.ifWindowOpen) {
<div class="projects">
  <div class="title-bar">
    <div class="taps">
      @for (project of projects; track $index) { @if (project.visibility) {
      <button
        class="tap"
        [class.active]="tapService.activeTapProjects === 'project' + $index"
        (click)="tapService.activateTap('project' + $index, 'projects')"
        [attr.aria-pressed]="
          tapService.activeTapProjects === 'project' + $index
        "
        [attr.aria-label]="
          ariaLabels.taps.firstText +
          ' ' +
          projects[$index].title +
          ' ' +
          ariaLabels.taps.secondText
        "
      >
        <div class="title-area">
          <div
            [innerHTML]="
              svgIconsService.returnIcon(projects[$index].icon, 'title-icon')
            "
          ></div>
          {{ projects[$index].title }}
        </div>

        <div [innerHTML]="svgIconsService.returnIcon('close', 'icon')"></div>
      </button>
      } }
    </div>
    <div class="controls">
      <app-window-controls
        [windowService]="windowService"
        [svgIconsService]="svgIconsService"
        [languageService]="languageService"
        [modalService]="modalService"
        [modal]="'unset'"
        [index]="0"
        [activeModal]="'projects'"
        [activeTap]="tapService.activeTapProjects"
        [tapService]="tapService"
      ></app-window-controls>
    </div>
  </div>
  @if (windowService.ifContentOpen) {
  <div class="content" [ngClass]="{ 'modal-active': modalActive }">
    @for (project of projects; track $index) { @if (project.visibility &&
    tapService.activeTapProjects === 'project' + $index) {
    <app-project [index]="$index"></app-project>
    } }
  </div>
  }
</div>
} @else {
<button
  class="desktop-icons"
  (click)="windowService.openWindow()"
  [innerHTML]="svgIconsService.returnIcon('folder', 'desktop-icon')"
  [attr.aria-label]="
    generalAriaLabels.firstText +
    ' ' +
    languageService.texts.projects.title +
    ' ' +
    generalAriaLabels.secondText
  "
></button>
}
