@if (windowService.ifWindowOpen) {
<div class="projects">
  <div class="title-bar">
    <div class="taps">
      @for (project of languageService.projects; track $index) { @if
      (project.visibility) {
      <button
        class="tap"
        [class.active]="tapService.activeTapProjects === 'project' + $index"
        (click)="tapService.activateTap('project' + $index, 'projects')"
        [attr.aria-pressed]="
          tapService.activeTapProjects === 'project' + $index
        "
        [attr.aria-label]="languageService.projects[$index].title"
      >
        {{ languageService.projects[$index].title }}
        <div [innerHTML]="svgIconsService.returnIcon('close', 'icon')"></div>
      </button>
      } }
    </div>
    <div class="controls">
      <app-window-controls
        [windowService]="windowService"
        [svgIconsService]="svgIconsService"
        [languageService]="languageService"
        [modalService]="modalService"
        [modal]="'unset'"
        [index]="0"
        [activeModal]="'projects'"
        [activeTap]="tapService.activeTapProjects"
        [tapService]="tapService"
      ></app-window-controls>
    </div>
  </div>
  @if (windowService.ifContentOpen) {
  <div class="content" [ngClass]="{ 'modal-active': modalActive }">
    @if ( tapService.activeTapProjects === 'project0') {
    <app-project [index]="0"></app-project>
    } @if (tapService.activeTapProjects === 'project1') {
    <app-project [index]="1"></app-project>
    } @if (tapService.activeTapProjects === 'project2') {
    <app-project [index]="2"></app-project>
    } @if (tapService.activeTapProjects === 'project3') {
    <app-project [index]="3"></app-project>
    }
  </div>
  }
</div>
} @else {
<button
  class="desktop-icons"
  (click)="windowService.openWindow()"
  [innerHTML]="svgIconsService.returnIcon('folder', 'desktop-icon')"
  [attr.aria-label]="
    languageService.getLanguage() === 'de'
      ? 'Öffne Projects Fenster'
      : 'Open Projects Window'
  "
></button>
}
