@use "../../../functions" as *;
@use "../../../mixins" as *;
@use "../../../var" as *;

.menu {
  @include window-default-style();
  max-width: px-to-rem(400);
  max-height: 95dvh;
  width: 100%;
  margin-inline: auto;

  .title-bar {
    @include title-bar-default-style;

    .title {
      @include title-default-style();
    }
  }

  .content {
    @include window-content;
    @include display-flex(center, start, column);
    gap: px-to-rem(30);

    app-site-navigation {
      min-width: 100%;
    }

    &.modal-active {
      min-height: fit-content;
      max-height: fit-content;
    }

    @media (max-height: $breakpoint-xs) {
      &.modal-active {
        min-height: 80dvh;
        max-height: 80dvh;
      }
    }
  }
}

.desktop-icons {
  @include button-preset();
  @include desktop-icon-style(right);
}
