.select-language {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  border-radius: 100px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 105%;
    width: 50%;
    background-color: var(--primary-color);
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    left: 50%;
  }

  &.active::before {
    transition: all 0.3s ease-in-out;
    left: 0%;
  }

  button {
    background-color: unset;
    border: unset;
    padding: 4.5px 12px;
    height: 28px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    transition: all 125ms ease-in-out;
    cursor: pointer;
    z-index: 1;
  }
}
