@use "../../../functions" as *;
@use "../../../mixins" as *;
@use "../../../var" as *;

.select-language {
  @include display-flex(center, center);
  border: 1px solid var(--primary-color);
  border-radius: px-to-rem(100);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 105%;
    width: 50%;
    background-color: var(--primary-color);
    border-radius: px-to-rem(100);
    transition: all 0.3s ease-in-out;
    left: 50%;
  }

  &.active::before {
    transition: all 0.3s ease-in-out;
    left: 0%;
  }

  button {
    @include button-preset();
    @include font-settings-default();
    color: var(--secondary-color);
    z-index: 1;
  }
}
