@let ariaLabels = languageService.texts.languageToggle.ariaLabels;

<div
  [ngClass]="{
    'select-language': true,
    modalActive: modalActive,
    active: languageService.getLanguage() === 'de'
  }"
>
  <button
    [attr.aria-label]="ariaLabels.de"
    [attr.aria-pressed]="languageService.getLanguage() === 'de'"
    [attr.aria-current]="
      languageService.getLanguage() === 'de' ? 'true' : 'false'
    "
    type="button"
    (click)="switchLanguage('de')"
  >
    DE
  </button>
  <button
    [attr.aria-label]="ariaLabels.en"
    [attr.aria-pressed]="languageService.getLanguage() === 'en'"
    [attr.aria-current]="
      languageService.getLanguage() === 'en' ? 'true' : 'false'
    "
    type="button"
    (click)="switchLanguage('en')"
  >
    EN
  </button>
</div>
