@use "../../../../functions" as *;
@use "../../../../mixins" as *;
@use "../../../../var" as *;

.skills,
.learningSkills {
  @include display-flex(center, start);
  gap: px-to-rem(25) px-to-rem(25);
  flex-wrap: wrap;

  .skill-icon,
  .learning-icon {
    @include display-flex(center, start, column);
    gap: px-to-rem(10);
    height: px-to-rem(165);
    width: px-to-rem(165);
    padding: px-to-rem(20);
    border-radius: px-to-rem(10);

    transition: background-color 0.3s ease-in-out;

    &:hover {
      transition: background-color 0s ease-in-out;
      background-color: var(--secondary-color-10);
    }

    &::ng-deep .icon {
      height: px-to-rem(80);
      width: px-to-rem(80);
      fill: var(--secondary-color);
    }
  }

  .skill-name {
    @include font-settings();
    color: var(--secondary-color);
    text-align: center;
  }

  .learning-icon {
    &::ng-deep .learning {
      fill: var(--secondary-color-10);
    }

    .learning-name {
      color: var(--secondary-color-10);
    }

    &:hover {
      background-color: unset;
    }
  }
}
