<div class="skills">
  @for (skill of skills.concat(learningSkills); track $index) { @if
  (skill.visibility) {
  <div class="{{ skill.status + '-icon' }}">
    <div
      [innerHTML]="
        svgIconsService.returnIcon(
          skill.icon,
          skill.icon + ' ' + skill.status + ' icon'
        )
      "
      [attr.aria-label]="skill.name + ' icon'"
      role="img"
    ></div>
    <h4
      class="{{
        skill.status + '-name' + ' ' + skill.icon + '-name'
      }} skill-name"
      [attr.aria-label]="skill.name"
    >
      {{ skill.name }}
    </h4>
  </div>
  }}
</div>
