@use "../../../../functions" as *;
@use "../../../../mixins" as *;
@use "../../../../var" as *;

.skills,
.learningSkills {
  @include display-grid(center, center);
  grid-template-columns: repeat(auto-fill, minmax(px-to-rem(160), 1fr));
  gap: px-to-rem(25) px-to-rem(25);
  padding: 0 px-to-rem(10);
  margin-inline: auto;

  @media (max-width: $breakpoint-xs) {
    grid-template-columns: repeat(auto-fill, minmax(px-to-rem(120), 1fr));
    gap: px-to-rem(20) px-to-rem(20);
  }

  @media (max-width: $breakpoint-xxs) {
    grid-template-columns: repeat(auto-fill, minmax(px-to-rem(100), 1fr));
    gap: px-to-rem(5) px-to-rem(5);
  }

  .skill-icon,
  .learning-icon {
    @include display-flex(center, start, column);
    gap: px-to-rem(10);
    height: px-to-rem(160);
    width: px-to-rem(160);
    padding: px-to-rem(20);
    border-radius: px-to-rem(10);

    transition: background-color 0.3s ease-in-out;

    @media (max-width: $breakpoint-xs) {
      height: px-to-rem(120);
      width: px-to-rem(120);
      gap: px-to-rem(10);
    }

    @media (max-width: $breakpoint-xxs) {
      height: px-to-rem(100);
      width: px-to-rem(100);
      gap: px-to-rem(5);
    }

    &:hover {
      transition: background-color 0s ease-in-out;
      background-color: var(--secondary-color-10);
    }

    &::ng-deep .icon {
      height: px-to-rem(80);
      width: px-to-rem(80);
      fill: var(--secondary-color);

      @media (max-width: $breakpoint-xs) {
        height: px-to-rem(40);
        width: px-to-rem(40);
      }

      @media (max-width: $breakpoint-xxs) {
        height: px-to-rem(30);
        width: px-to-rem(30);
      }
    }
  }

  .skill-name {
    @include font-settings();
    color: var(--secondary-color);
    text-align: center;
  }

  .learning-icon {
    &::ng-deep .learning {
      fill: var(--secondary-color-10);
      filter: drop-shadow(0 px-to-rem(4) px-to-rem(4) rgba(0, 0, 0, 1));
    }

    .learning-name {
      color: var(--secondary-color-10);
      text-shadow: px-to-rem(1) px-to-rem(1) px-to-rem(2) rgba(0, 0, 0, 0.5);
    }

    &:hover {
      background-color: unset;
    }
  }
}
