<section>
  <app-portrait></app-portrait>
  <div class="info">
    @for (item of
    utilityService.objectKeys(languageService.texts.aboutMe.infoBox); track
    $index) {
    <app-info-box
      [title]="languageService.texts.aboutMe.infoBox['infoBox' + $index].title"
      [textarea]="
        languageService.texts.aboutMe.infoBox['infoBox' + $index].textarea
      "
      [index]="$index"
      [attr.aria-label]="[
        languageService.texts.aboutMe.ariaLabels.infoBox.description +
          ' ' +
          languageService.texts.aboutMe.infoBox['infoBox' + $index].title
      ]"
    ></app-info-box>
    }
  </div>
</section>
