<section>
  <app-portrait></app-portrait>
  <div class="info">
    <app-info-box
      [title]="languageService.texts.aboutMe.infoBox1.title"
      [textarea]="languageService.texts.aboutMe.infoBox1.textarea"
      [index]="0"
      [attr.aria-label]="[
        languageService.texts.aboutMe.ariaLabels.infoBox.description +
          ' ' +
          languageService.texts.aboutMe.infoBox1.title
      ]"
    ></app-info-box>
    <app-info-box
      [title]="languageService.texts.aboutMe.infoBox2.title"
      [textarea]="languageService.texts.aboutMe.infoBox2.textarea"
      [index]="1"
      [attr.aria-label]="[
        languageService.texts.aboutMe.ariaLabels.infoBox.description +
          ' ' +
          languageService.texts.aboutMe.infoBox2.title
      ]"
    ></app-info-box>
    <app-info-box
      [title]="languageService.texts.aboutMe.infoBox3.title"
      [textarea]="languageService.texts.aboutMe.infoBox3.textarea"
      [index]="2"
      [attr.aria-label]="[
        languageService.texts.aboutMe.ariaLabels.infoBox.description +
          ' ' +
          languageService.texts.aboutMe.infoBox3.title
      ]"
    ></app-info-box>
  </div>
</section>
