<section>
  <app-portrait></app-portrait>
  <div class="info">
    <app-info-box
      [title]="languageService.texts.aboutMe.infoBox1.title"
      [textarea]="languageService.texts.aboutMe.infoBox1.textarea"
      aria-label="Information Box 1"
    ></app-info-box>
    <app-info-box
      [title]="languageService.texts.aboutMe.infoBox2.title"
      [textarea]="languageService.texts.aboutMe.infoBox2.textarea"
      aria-label="Information Box 2"
    ></app-info-box>
    <app-info-box
      [title]="languageService.texts.aboutMe.infoBox3.title"
      [textarea]="languageService.texts.aboutMe.infoBox3.textarea"
      aria-label="Information Box 3"
    ></app-info-box>
  </div>
</section>
