@let generalAriaLabels = languageService.texts.general.ariaLabels; @let
ariaLabels = languageService.texts.navigation.ariaLabels;

<header>
  <div class="left-side">
    <span
      class="main-logo"
      [innerHTML]="svgIconsService.returnIcon('logo', 'logo')"
      [attr.aria-label]="generalAriaLabels.logo"
      role="img"
    ></span>
    <app-site-navigation></app-site-navigation>
  </div>
  <div class="right-side">
    <app-color-toggle></app-color-toggle>
    <button
      (click)="modalService.openModal('unset', 1, 'menu')"
      class="menu-icon"
      [innerHTML]="svgIconsService.returnIcon('menu')"
      [attr.aria-label]="ariaLabels.menu"
      [attr.aria-haspopup]="true"
      [attr.aria-expanded]="modalService.activeModal === 'menu'"
    ></button>
    <app-language-toggle></app-language-toggle>
  </div>
</header>
