@let generalAriaLabels = languageService.texts.general.ariaLabels;

<header>
  <div class="left-side">
    <span
      class="sub-logo"
      [innerHTML]="svgIconsService.returnIcon('logo', 'logo')"
      [attr.aria-label]="generalAriaLabels.logo"
      role="img"
    ></span>
    <app-language-toggle></app-language-toggle>
    <app-site-navigation></app-site-navigation>
  </div>
  <div class="right-side">
    <app-color-toggle></app-color-toggle>
    <span
      (click)="modalService.openModal('unset', 1, 'menu')"
      class="menu-icon"
      [innerHTML]="svgIconsService.returnIcon('menu')"
      [attr.aria-label]="generalAriaLabels.logo"
      role="img"
    ></span>
    <span
      class="main-logo"
      [innerHTML]="svgIconsService.returnIcon('logo', 'logo')"
      [attr.aria-label]="generalAriaLabels.logo"
      role="img"
    ></span>
  </div>
</header>
