@use "../../../functions" as *;
@use "../../../mixins" as *;
@use "../../../var" as *;

header {
  @include max-content-settings;
  @include display-flex(center, space-between);
  height: px-to-rem(100);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .left-side {
    @include display-flex(center);
    gap: px-to-rem(50);

    .sub-logo {
      display: none;
      &::ng-deep .logo {
        fill: var(--secondary-color);
        height: px-to-rem(30);
      }
      @media (max-width: $breakpoint-lg) {
        display: block;
      }
    }

    app-site-navigation,
    app-language-toggle {
      @media (max-width: $breakpoint-lg) {
        display: none;
      }
    }
  }

  .right-side {
    @include display-flex(center);
    gap: px-to-rem(50);

    app-color-toggle {
      @media (max-width: $breakpoint-lg) {
        display: none;
      }
    }

    .menu-icon {
      display: none;
      &::ng-deep .menu {
        fill: var(--secondary-color);
        height: px-to-rem(30);

        &:hover {
          fill: var(--primary-color-hover);
          cursor: pointer;
        }
      }

      @media (max-width: $breakpoint-lg) {
        display: block;
      }
    }

    .main-logo {
      &::ng-deep .logo {
        fill: var(--secondary-color);
        height: px-to-rem(40);
      }
      @media (max-width: $breakpoint-lg) {
        display: none;
      }
    }
  }
}
