@use "../../../functions" as *;
@use "../../../mixins" as *;
@use "../../../var" as *;

header {
  @include max-content-settings;
  @include display-flex(center, space-between);
  height: px-to-rem(100);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .left-side {
    @include display-flex(center);
    gap: px-to-rem(50);
  }

  .right-side {
    @include display-flex(center);
    gap: px-to-rem(50);

    .svg-container {
      height: px-to-rem(40);

      &::ng-deep .logo {
        fill: var(--secondary-color);
        height: px-to-rem(40);
      }
    }
  }
}
