@if (windowService.isWindowOpen) {
<div class="info-box">
  <div class="title-bar">
    <h3 class="title">{{ title }}</h3>
    <div class="controls">
      <button
        (click)="windowService.closeContent()"
        [innerHTML]="svgIconsService.returnIcon('minimize', 'icon')"
        [attr.aria-label]="languageService.texts.ariaLabels.controls.minimize"
      ></button>
      <button
        (click)="windowService.openContent()"
        [innerHTML]="svgIconsService.returnIcon('maximize', 'icon')"
        [attr.aria-label]="languageService.texts.ariaLabels.controls.maximize"
      ></button>
      <button
        (click)="windowService.closeWindow()"
        [innerHTML]="svgIconsService.returnIcon('close', 'icon')"
        [attr.aria-label]="languageService.texts.ariaLabels.controls.close"
      ></button>
    </div>
  </div>
  @if (windowService.isContentOpen) {
  <div class="content">
    <p>
      {{ textarea }}
    </p>
  </div>
  }
</div>
} @else {
<button
  class="desktop-icons"
  (click)="windowService.openWindow()"
  [innerHTML]="svgIconsService.returnIcon('document', 'desktop-icon')"
  [attr.aria-label]="
    languageService.texts.aboutMe.ariaLabels.infoBox.desktopIcon + ' ' + title
  "
></button>
}
