@if (windowService.isWindowOpen) {
<div class="info-box">
  <div class="title-bar">
    <h3 class="title">{{ title }}</h3>
    <div class="controls">
      <app-window-controls
        [windowService]="windowService"
        [svgIconsService]="svgIconsService"
        [languageService]="languageService"
      ></app-window-controls>
    </div>
  </div>
  @if (windowService.isContentOpen) {
  <div class="content">
    <p>
      {{ textarea }}
    </p>
  </div>
  }
</div>
} @else {
<button
  class="desktop-icons"
  (click)="windowService.openWindow()"
  [innerHTML]="svgIconsService.returnIcon('document', 'desktop-icon')"
  [attr.aria-label]="
    languageService.texts.aboutMe.ariaLabels.infoBox.desktopIcon + ' ' + title
  "
></button>
}
