@if (windowService.isWindowOpen) {
<div class="info-box">
  <div class="title-bar">
    <h3 class="title">{{ title }}</h3>
    <div class="controls">
      <button
        (click)="windowService.closeContent()"
        [innerHTML]="svgIconsService.returnIcon('minimize', 'icon')"
        aria-label="Minimize"
      ></button>
      <button
        (click)="windowService.openContent()"
        [innerHTML]="svgIconsService.returnIcon('maximize', 'icon')"
        aria-label="Maximize"
      ></button>
      <button
        (click)="windowService.closeWindow()"
        [innerHTML]="svgIconsService.returnIcon('close', 'icon')"
        aria-label="Close"
      ></button>
    </div>
  </div>
  @if (windowService.isContentOpen) {
  <div class="content">
    <p>
      {{ textarea }}
    </p>
  </div>
  }
</div>
} @else {
<button
  class="desktop-icons"
  (click)="windowService.openWindow()"
  [innerHTML]="svgIconsService.returnIcon('document', 'desktop-icon')"
  aria-label="Open Window"
></button>
}
