@use "../../../../functions" as *;
@use "../../../../mixins" as *;
@use "../../../../var" as *;

.imprint {
  @include display-flex(center, center, column);

  .imprint-site {
    overflow-wrap: break-word;
    hyphens: auto;

    .header,
    .address,
    .representedBy,
    .contact {
      margin-block: px-to-rem(10);
    }

    & a {
      color: var(--primary-color);
    }

    & h1,
    h2,
    h3,
    p,
    ul {
      @include font-settings();
      margin-top: px-to-rem(15);
    }

    & ul {
      margin-left: px-to-rem(20);
    }

    & li {
      margin-block: px-to-rem(10);
    }

    & h1 {
      @include font-settings(36, 700);
      color: var(--primary-color);
    }

    & h2 {
      @include font-settings(24, 700);
      color: var(--primary-color);
    }

    & h3 {
      color: var(--primary-color);
    }

    & a:hover {
      color: var(--primary-color-hover);
    }

    .address,
    .representedBy,
    .contact {
      & p {
        margin-top: px-to-rem(0);
      }
    }
  }
}
