<div class="side-elements">
  <div class="scroll-down">
    <div class="icon">
      <div class="arrow-icon" [innerHTML]="returnIcon('arrowScroll')"></div>
    </div>
    <div class="vertical-line"></div>
  </div>
  <div class="social">
    <a class="mailto" href="mailto:contact@mirkorinke.dev"
      >contact&#64;mirkorinke.dev</a
    >
    <div class="icons">
      <div
        class="icon mailto-icon"
        onclick="window.location.href='mailto:contact@mirkorinke.dev';"
      >
        <div class="icon-icon" [innerHTML]="returnIcon('eMail')"></div>
        <div class="icon-dot" [innerHTML]="returnIcon('dot')"></div>
      </div>
      <div
        onclick="window.open('https://github.com/MirkoRinke', '_blank');"
        class="icon"
      >
        <div class="icon-icon" [innerHTML]="returnIcon('github')"></div>
        <div class="icon-dot" [innerHTML]="returnIcon('dot')"></div>
      </div>
      <div
        onclick="window.open('https://www.linkedin.com/in/mirkorinke', '_blank');"
        class="icon"
      >
        <div class="icon-icon" [innerHTML]="returnIcon('linkedin')"></div>
        <div class="icon-dot" [innerHTML]="returnIcon('dot')"></div>
      </div>
    </div>
    <div class="vertical-line"></div>
  </div>
</div>
