@use "../../../var" as vars;

.side-elements {
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 1440px;
  margin-inline: auto;
  pointer-events: none;
  position: absolute;
  padding-inline: 96px;
  bottom: 0;
  left: 0;
  right: 0;

  @media (max-width: vars.$breakpoint-lg) {
    padding-inline: 16px;
  }

  .scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    pointer-events: auto;

    .icon {
      border: 1px solid var(--primary-color);
      border-radius: 32px;
      padding: 18px 12px;

      .arrow-icon {
        height: 16px;
        width: 10px;
        fill: var(--secondary-color);
        animation: moveDownUp 2s infinite;
      }

      @keyframes moveDownUp {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(10px);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
    .vertical-line {
      width: 1px;
      height: 240px;
      background-color: var(--primary-color);
      margin-inline: 20px;
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    width: 32px;
    gap: 24px;
    pointer-events: auto;

    .mailto {
      transform: rotate(-90deg);
      color: var(--secondary-color);
      font-size: 18px;
      font-weight: 400px;

      @media (max-width: vars.$breakpoint-lg) {
        display: none;
      }

      &:hover {
        color: var(--primary-color);
      }
    }

    .icons {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .icon {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        @media (max-width: vars.$breakpoint-lg) {
          gap: 4px;
        }

        .icon-icon {
          fill: var(--primary-color);
          transition: fill 175ms ease-in-out;
          min-height: 32px;
          min-width: 32px;
        }

        .icon-dot {
          fill: transparent;
          stroke: transparent;
          min-height: 10px;
          min-width: 10px;
        }

        &:hover .icon-icon {
          fill: var(--secondary-color);
        }

        &:hover .icon-dot {
          fill: var(--primary-color);
          stroke: var(--primary-color);
        }
      }

      .mailto-icon {
        display: none;

        @media (max-width: vars.$breakpoint-lg) {
          display: flex;
        }
      }
    }

    .vertical-line {
      width: 1px;
      height: 186px;
      background-color: var(--secondary-color);
      margin-inline: 20px;
    }
  }
}
