<section class="hero">
  <div class="hero-content">
    <div class="center-section">
      <div class="headings">
        <h2 class="sub-heading">{{ texts.subHeading }}</h2>
        <h1 class="main-heading">{{ texts.mainHeading }}</h1>
      </div>
      <div class="button-group">
        <button (click)="scrollToSection('featured-project')">
          <span>{{ texts.checkMyWork }}</span>
        </button>
        <button (click)="scrollToSection('contact')">
          <span>{{ texts.contactMe }}</span>
        </button>
      </div>
    </div>
    <app-hero-banner></app-hero-banner>
    <app-hero-side-elements></app-hero-side-elements>
  </div>
</section>
