<div class="contact-info">
  <div class="header">
    <h3 class="title">{{ texts.contactInfoTitle }}</h3>
    <h2 class="subtitle">{{ texts.contactInfoSubtitle }}</h2>
  </div>
  <div class="details">
    <h3 class="question">{{ texts.contactInfoQuestion }}</h3>
    <p class="description">
      {{ texts.contactInfoDescription }}
      <br />
      <br />
      {{ texts.contactInfoFrontendDeveloper }}
      <span class="highlight">{{ texts.contactInfoDescriptionHighlight }}</span>
    </p>
  </div>
</div>
