@if (modalService.ifModalOpen && modalService.modal !== 'unset') {
<section (click)="modalService.closeModalWrapper($event)">
  <div class="modal-wrapper" (click)="modalService.closeModalWrapper($event)">
    <div class="modal">
      <div class="title-bar">
        <h3 class="title">
          @if (modalService.activeModal === "certificate") {
          {{
            languageService.getLanguage() === "de"
              ? modalService.modal[modalService.index].titleDE
              : modalService.modal[modalService.index].titleEN
          }}
          } @else {
          {{ modalService.modal.title }}
          }
        </h3>
        <div class="controls">
          <app-window-controls
            [windowService]="windowService"
            [svgIconsService]="svgIconsService"
            [languageService]="languageService"
            [modalService]="modalService"
          ></app-window-controls>
        </div>
      </div>
      @if (windowService.ifContentOpen) {
      <div class="content">
        @if (modalService.activeModal === "certificate") {
        <app-certificate-modal
          [modal]="modalService.modal"
          [index]="modalService.index"
        ></app-certificate-modal>
        } @else {
        <p>PLACEHOLDER</p>
        }
      </div>
      }
    </div>
  </div>
</section>
} @else if ( modalService.ifModalOpen && modalService.modal === 'unset') {
<section (click)="modalService.closeModalWrapper($event)">
  <div class="modal-wrapper">
    @if (modalService.activeModal === "portrait") {
    <app-portrait
      (click)="modalService.closeModalWrapper($event)"
      [modalActive]="true"
    ></app-portrait>
    } @else if (modalService.activeModal === "infoBox0") {
    <app-info-box
      [title]="languageService.texts.aboutMe.infoBox1.title"
      [textarea]="languageService.texts.aboutMe.infoBox1.textarea"
      [index]="0"
      [modalActive]="true"
      [attr.aria-label]="[
        languageService.texts.aboutMe.ariaLabels.infoBox.description +
          ' ' +
          languageService.texts.aboutMe.infoBox1.title
      ]"
    ></app-info-box>
    } @else if (modalService.activeModal === "infoBox1") {
    <app-info-box
      [title]="languageService.texts.aboutMe.infoBox2.title"
      [textarea]="languageService.texts.aboutMe.infoBox2.textarea"
      [index]="1"
      [modalActive]="true"
      [attr.aria-label]="[
        languageService.texts.aboutMe.ariaLabels.infoBox.description +
          ' ' +
          languageService.texts.aboutMe.infoBox2.title
      ]"
    ></app-info-box>
    } @else if (modalService.activeModal === "infoBox2") {
    <app-info-box
      [title]="languageService.texts.aboutMe.infoBox3.title"
      [textarea]="languageService.texts.aboutMe.infoBox3.textarea"
      [index]="2"
      [modalActive]="true"
      [attr.aria-label]="[
        languageService.texts.aboutMe.ariaLabels.infoBox.description +
          ' ' +
          languageService.texts.aboutMe.infoBox3.title
      ]"
    ></app-info-box>
    } @else if (modalService.activeModal === "expertise") {
    <app-expertise [modalActive]="true"></app-expertise>
    } @else if (modalService.activeModal === "projects") {
    <app-projects [modalActive]="true"></app-projects>
    }
  </div>
</section>
}
