@use "../../../functions" as *;
@use "../../../mixins" as *;
@use "../../../var" as *;

section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include display-flex(center, center);

  .modal-wrapper {
    @include max-content-settings();
    background-color: var(--background-color);
    padding: 0;
    width: fit-content;

    .modal {
      @include window-default-style();
      margin-inline: auto;
      width: fit-content;

      .title-bar {
        @include title-bar-default-style;

        .title {
          @include title-default-style();
        }
      }

      .content {
        @include window-content;
      }
    }
  }
}
