@let activeInfoBox = modalService.activeModal; @if (modalService.ifModalOpen) {
<section
  [ngClass]="modalService.activeModal !== 'menu' ? 'showBG' : ''"
  (click)="modalService.closeModalWrapper($event)"
  [ngSwitch]="switchCase"
>
  <div class="modal-wrapper">
    <app-portrait
      *ngSwitchCase="'portrait'"
      (click)="modalService.closeModalWrapper($event)"
      [modalActive]="true"
    ></app-portrait>
    <app-info-box
      *ngSwitchCase="'infoBox'"
      [title]="languageService.texts.aboutMe.infoBox[activeInfoBox].title"
      [textarea]="languageService.texts.aboutMe.infoBox[activeInfoBox].textarea"
      [index]="utilityService.getNumbersFromEnd(activeInfoBox)"
      [modalActive]="true"
    >
    </app-info-box>
    <app-expertise
      *ngSwitchCase="'expertise'"
      [modalActive]="true"
    ></app-expertise>
    <app-daily-schedule
      *ngSwitchCase="'github-graph'"
      [modalActive]="true"
    ></app-daily-schedule>
    <app-projects
      *ngSwitchCase="'projects'"
      [modalActive]="true"
    ></app-projects>
    <app-contact *ngSwitchCase="'contact'" [modalActive]="true"></app-contact>
    <app-imprint *ngSwitchCase="'imprint'" [modalActive]="true"></app-imprint>
    <app-privacy-policy
      *ngSwitchCase="'privacyPolicy'"
      [modalActive]="true"
    ></app-privacy-policy>
    <app-menu
      *ngSwitchCase="'menu'"
      (click)="modalService.closeModalWrapper($event)"
      [modalActive]="true"
    ></app-menu>
    <app-certificate-modal
      *ngSwitchCase="'certificate'"
      (click)="modalService.closeModalWrapper($event)"
      [index]="modalService.index"
      [modalActive]="true"
    ></app-certificate-modal>
    <app-snake
      *ngSwitchCase="'snake.exe'"
      (click)="modalService.closeModalWrapper($event)"
      [modalActive]="true"
    >
    </app-snake>
    <p *ngSwitchDefault>404 Modal not found</p>
  </div>
</section>
}
