@if (modalService.isModalOpen) {
<section>
  <div class="modal-wrapper">
    <div class="modal">
      <div class="title-bar">
        <h3 class="title">{{ modalService.title }}</h3>
        <div class="controls">
          <span
            (click)="windowService.closeContent()"
            [innerHTML]="svgIconsService.returnIcon('minimize', 'icon')"
          ></span>
          <span
            (click)="windowService.openContent()"
            [innerHTML]="svgIconsService.returnIcon('maximize', 'icon')"
          ></span>
          <span
            (click)="modalService.closeModal()"
            [innerHTML]="svgIconsService.returnIcon('close', 'icon')"
          ></span>
        </div>
      </div>
      @if (windowService.isContentOpen) {
      <div class="content">
        {{ modalService.content }}
      </div>
      }
    </div>
  </div>
</section>
}
