@use "../../../functions" as *;
@use "../../../mixins" as *;
@use "../../../var" as *;

section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include display-flex(center, center);
  padding-inline: px-to-rem(20);
  z-index: 9999;

  .modal-wrapper {
    @include max-content-settings();
    padding: 0;

    .modal {
      @include window-default-style();
      margin-inline: auto;
      max-width: fit-content;

      .title-bar {
        @include title-bar-default-style;

        .title {
          @include title-default-style();
        }
      }

      .content {
        @include window-content;
        padding: 0;
      }
    }
  }
}

.showBG {
  background-color: var(--background-color);
}
