@use "../../../../../functions" as *;
@use "../../../../../mixins" as *;
@use "../../../../../var" as *;

.content {
  img {
    @include display-flex(center, center);
    height: 100%;
    width: 100%;
  }

  &.modal-active {
    img {
      max-height: 80dvh;
    }
  }
}
