@use "../../../../functions" as *;
@use "../../../../mixins" as *;
@use "../../../../var" as *;

.certificates {
  @include display-flex(start, flex-start, column);
  flex-wrap: wrap;
  gap: px-to-rem(5);
  width: 100%;
  min-height: 100%;

  @media (max-width: $breakpoint-md) {
    flex-wrap: unset;
    height: auto !important; // I prefer using !important here instead of managing it via JavaScript to ensure all @media related styles remain within CSS.
  }

  .certificate {
    @include button-preset;
    @include font-settings;
    @include display-grid(center);
    text-align: left;
    padding: px-to-rem(10) px-to-rem(20);
    border-radius: px-to-rem(10);
    max-width: calc(49% - px-to-rem(40));
    width: 100%;

    @media (max-width: $breakpoint-md) {
      max-width: calc(100% - px-to-rem(40));
    }

    transition: background-color 0.3s ease-in-out;

    &:hover {
      transition: background-color 0s ease-in-out;
      background-color: var(--secondary-color-10);
      cursor: pointer;
    }

    &::ng-deep .icon {
      @include display-flex(center, center);
      height: px-to-rem(25);
      width: px-to-rem(25);
      fill: var(--secondary-color);
    }

    &::ng-deep .developerAkademie {
      fill: rgb(253, 91, 79);
    }

    .course {
      @include display-flex(center, start);
      gap: px-to-rem(10);
    }
  }
}
