@use "../../../../functions" as *;
@use "../../../../mixins" as *;
@use "../../../../var" as *;

.project {
  @include display-flex(start, space-between, column);
  gap: px-to-rem(5);
  max-width: 100%;
  width: 100%;

  .top {
    @include display-flex(start, space-between);
    max-width: 100%;
    width: 100%;

    .right {
      max-width: 50%;
      width: 100%;
    }

    .left {
      max-width: 50%;
      width: 100%;

      img {
        @include display-flex(center, center);
        height: 100%;
        width: 100%;

        border-radius: px-to-rem(15);
      }
    }
  }
}
