<section class="featured-projects">
  <div class="content-wrapper">
    <div class="content">
      <div class="header">
        <h3 class="heading">{{ texts.heading }}</h3>
        <h2 class="title">{{ texts.title }}</h2>
      </div>
      <p class="description">
        {{ texts.description }}
      </p>
      <div class="projects">
        @for (project of projects; track project.id) { @if (project.visibility)
        {
        <div
          (mouseover)="onMouseOver(project.id)"
          (mouseleave)="onMouseLeave()"
          (click)="openProjectModal(project.id)"
          class="project"
        >
          <span class="project-name"
            >{{ project.name }}
            <div class="arrow" [innerHTML]="returnIcon('arrowOutward')"></div
          ></span>
          <div class="technologies">
            @for (technology of project.technologies; track $index) {
            <span class="technology">{{ technology.name }}</span>
            }
          </div>
          <div
            [class.hovered]="hoveredProjectId === project.id"
            class="preview preview--{{ project.id }}"
          >
            <img
              class="preview-img"
              src="{{ project.imagePath }}"
              alt="{{ project.name }}"
            />
            <div class="bg"></div>
          </div>
        </div>
        } }
      </div>
    </div>
  </div>
  <app-project-modal
    (click)="closeModal()"
    [class.active]="projectModalOpen"
    class="project-modal-wrapper"
  ></app-project-modal>
</section>
