@use "../../../var" as vars;

.featured-projects {
  background-color: vars.$background;
  position: relative;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    padding-block: 77px;
    padding-inline: 96px;

    @media (max-width: vars.$breakpoint-lg) {
      padding-block: 100px;
      padding-inline: 16px;
      align-items: center;
      max-width: fit-content;
    }

    @media (max-width: vars.$breakpoint-xs) {
      padding-block: 50px;
    }

    .content {
      display: flex;
      flex-direction: column;
      max-width: 880px;
      width: 100%;
      gap: 41px;

      .header {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .heading {
          font-size: 24px;
          font-weight: 500;
          color: vars.$green;

          @media (max-width: vars.$breakpoint-xl) {
            font-size: 18px;
          }
        }

        .title {
          font-family: "FiraCode";
          font-size: 64px;
          font-weight: bold;
          color: vars.$green;

          @media (max-width: vars.$breakpoint-xl) {
            text-align: center;
            font-size: 56px;
          }

          @media (max-width: vars.$breakpoint-xs) {
            font-size: 42px;
          }
        }
      }

      .description {
        font-size: 18px;
        font-weight: 400;
        color: vars.$white-80;
        text-align: justify;
        width: 456px;
        max-width: 100%;

        @media (max-width: vars.$breakpoint-lg) {
          font-size: 16px;
        }
      }

      .projects {
        display: flex;
        flex-direction: column;

        .project {
          display: flex;
          justify-content: space-between;
          padding: 40px 32px;
          border-top: 1px solid vars.$green;
          position: relative;

          @media (max-width: vars.$breakpoint-lg) {
            flex-direction: column;
            padding: 40px 5px;
            gap: 10px;
          }

          &:last-child {
            border-bottom: 1px solid vars.$green;
          }

          &:hover {
            transition: background-color 175ms ease-in-out;
            background-color: vars.$green-30;
            cursor: pointer;
          }

          &:hover .project-name .arrow {
            display: block;
          }

          .project-name {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 24px;
            font-weight: bold;
            color: vars.$white;

            @media (max-width: vars.$breakpoint-xs) {
              font-size: 20px;
            }

            .arrow {
              display: none;
              height: 23px;
              width: 23px;
              fill: vars.$white;

              @media (max-width: vars.$breakpoint-xs) {
                height: 16px;
                width: 16px;
              }
            }
          }

          .technologies {
            display: flex;

            .technology {
              font-size: 18px;
              font-weight: 400;
              color: vars.$white-80;
              padding-inline: 8px;
              height: fit-content;
              border-right: 1px solid vars.$green;

              @media (max-width: vars.$breakpoint-xs) {
                font-size: 16px;
              }

              &:first-child {
                padding-left: 0;
              }

              &:last-child {
                border-right: none;
              }
            }
          }

          .preview {
            display: none;
            position: absolute;
            top: -60px;
            right: 0;
            transform: translateX(calc(100% + 72px));
            max-height: 192px;

            &.hovered {
              display: block;

              @media (max-width: vars.$breakpoint-xl) {
                display: none;
              }
            }

            .preview-img {
              height: 192px;
              width: auto;
              aspect-ratio: 16 / 9;
              position: relative;
              z-index: 2;
              border-radius: 16px;
            }

            .bg {
              background: repeating-linear-gradient(
                -45deg,
                transparent,
                transparent 9px,
                vars.$green 5px,
                vars.$green 10px
              );
              height: 192px;
              transform: translate(25px, -90%);
              border-radius: 16px;
              z-index: 1;
            }
          }

          .preview--1 {
            top: -20px;
          }

          .preview--2 {
            top: -50px;
          }
        }
      }
    }
  }

  .project-modal-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: vars.$background;

    @media (max-width: vars.$breakpoint-lg) {
      padding: 16px;
    }

    &.active {
      display: flex;
    }
  }
}
