@let generalAriaLabels =languageService.texts.general.ariaLabels.desktopIcon;
@if(windowService.ifWindowOpen) {
<div class="info-box">
  <div class="title-bar">
    <h3 class="title">{{ title }}</h3>
    <div class="controls">
      <app-window-controls
        [windowService]="windowService"
        [svgIconsService]="svgIconsService"
        [languageService]="languageService"
        [modalService]="modalService"
        [modal]="'unset'"
        [index]="0"
        [activeModal]="'infoBox' + index"
      ></app-window-controls>
    </div>
  </div>
  @if (windowService.ifContentOpen) {
  <div class="content" [ngClass]="{ 'modal-active': modalActive }">
    <p>
      {{ textarea }}
    </p>
  </div>
  }
</div>
} @else {
<button
  class="desktop-icons"
  (click)="windowService.openWindow()"
  [innerHTML]="svgIconsService.returnIcon('document', 'desktop-icon')"
  [attr.aria-label]="
    generalAriaLabels.firstText +
    ' ' +
    title +
    ' ' +
    generalAriaLabels.secondText
  "
  type="button"
></button>
}
