<section class="skills">
  <div class="bg">
    <div class="content">
      <div class="info">
        <h3 class="info-heading">{{ texts.titleTechnologies }}</h3>
        <div class="info-box">
          <h2 class="heading-skill-set">{{ texts.titleSkillSet }}</h2>
          <div class="description">
            <p class="textarea">
              {{ texts.descriptionSkillSet }}
            </p>
            <div class="another-skill">
              <h4 class="heading">
                {{ texts.titleAnotherSkill }}
                <span class="highlight">{{ texts.anotherSkill }}</span>
              </h4>
              <p class="another-skill-description">
                {{ texts.descriptionAnotherSkill }}
              </p>
            </div>
          </div>
          <button (click)="scrollToSection('contact')" class="letsTalk">
            <span>{{ texts.buttonLetsTalk }}</span>
          </button>
        </div>
      </div>
      <div class="skill-icons">
        @for (skill of skills; track $index) { @if (skill.visibility) {
        <div class="skill-icon">
          <div
            class="icon {{ skill.icon }}"
            [innerHTML]="returnIcon(skill.icon)"
          ></div>
          <h4 class="skill-name">{{ skill.name }}</h4>
          @if (skill.name === "Growth Mindset") {
          <div class="tooltip">
            <h5 class="tooltip-heading">
              {{ texts.titleGrowthMindsetFirstPart }} <br />
              {{ texts.titleGrowthMindsetSecondPart }}
            </h5>
            <div class="learning-skills">
              @for (learningSkill of learningSkills; track $index) {
              <div class="learning-skill">
                <div
                  class="learning-icon"
                  [innerHTML]="returnIcon(learningSkill.icon)"
                ></div>
                <h6>{{ learningSkill.name }}</h6>
              </div>
              }
            </div>
          </div>
          }
        </div>
        } }
      </div>
    </div>
  </div>
</section>
