@use "../../../functions" as *;
@use "../../../mixins" as *;
@use "../../../var" as *;

section {
  @include max-content-settings;
  @include display-flex(start, space-between);
  gap: 5%;
  padding-top: px-to-rem(100);
  padding-bottom: px-to-rem(50);

  @media (max-width: $breakpoint-md) {
    flex-direction: row;
    gap: 5%;
  }

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
    gap: px-to-rem(50);
  }

  @media (max-height: $breakpoint-xs) and (orientation: landscape) {
    flex-direction: row;
    gap: 5%;
  }

  app-portrait {
    width: 60%;

    @media (max-width: $breakpoint-sm) {
      width: 100%;
    }
  }

  .info {
    @include display-flex(start, center, column);
    gap: px-to-rem(50);

    width: 100%;

    @media (max-width: $breakpoint-md) {
      width: 45%;
    }

    @media (max-width: $breakpoint-sm) {
      width: 100%;
    }

    @media (max-height: $breakpoint-xs) and (orientation: landscape) {
      width: 50%;
    }

    app-info-box {
      @include display-flex(center, end);
      width: 100%;
    }
  }
}
