@let dailySchedule = languageService.texts.dailySchedule; @let generalAriaLabels
= languageService.texts.general.ariaLabels.desktopIcon; @let githubService =
githubContributionsService; @if(windowService.ifWindowOpen) {
<div #githubWrapper class="github-graph">
  <div class="title-bar">
    <h3 class="title">
      <div
        [innerHTML]="svgIconsService.returnIcon('schedule', 'title-icon')"
      ></div>
      {{ dailySchedule.title }}
    </h3>
    <div class="controls">
      <app-window-controls
        [windowService]="windowService"
        [svgIconsService]="svgIconsService"
        [languageService]="languageService"
        [modalService]="modalService"
        [index]="0"
        [activeModal]="'github-graph'"
      ></app-window-controls>
    </div>
  </div>
  @if (windowService.ifContentOpen) {
  <div class="content" [ngClass]="{ 'modal-active': modalActive }">
    <h2>{{ dailySchedule.heading }}</h2>
    <div class="top">
      <div class="textarea">
        @for (detail of dailySchedule.details; track $index) {
        <div class="text">
          <h3>{{ detail.title }}</h3>
          <p>
            {{ detail.description }}
          </p>
        </div>
        }
      </div>
    </div>
    @if (checkVisibilityService.isVisible) {
    <div class="github-wrapper">
      <h1>{{ dailySchedule.githubGraphTitle }}</h1>
      <div id="github-calendar" class="github-calendar">
        @for (week of githubService.weeks; track $index) { @for (day of week;
        track $index) {
        <div
          class="day"
          [style.backgroundColor]="
            day.contributionCount === 0
              ? 'transparent'
              : githubService.setColor(day.color)
          "
          [title]="
            day.contributionCount +
            ' ' +
            (day.contributionCount === 1
              ? dailySchedule.contribution
              : dailySchedule.contributions) +
            ': ' +
            githubService.convertDate(day.date)
          "
        ></div>
        } }
      </div>
    </div>
    }
  </div>
  }
</div>
} @else {
<button
  class="desktop-icons"
  (click)="windowService.openWindow()"
  [innerHTML]="svgIconsService.returnIcon('schedule', 'desktop-icon')"
  [attr.aria-label]="
    generalAriaLabels.firstText +
    ' ' +
    dailySchedule.title +
    ' ' +
    generalAriaLabels.secondText
  "
  type="button"
></button>
}
