@use "../../../../functions" as *;
@use "../../../../mixins" as *;
@use "../../../../var" as *;

.contact {
  @include window-default-style();

  .title-bar {
    @include title-bar-default-style;

    .title {
      @include title-default-style();
    }
  }

  .content {
    @include window-content;
    padding: px-to-rem(0) px-to-rem(0);
    height: px-to-rem(600);

    &.modal-active {
      min-height: 80dvh;
    }
  }
}

.desktop-icons {
  @include button-preset();
  @include desktop-icon-style(right);
}
