@let ariaLabels =languageService.texts.ariaLabels.desktopIcon; @let contact =
languageService.texts.contact; @if(windowService.ifWindowOpen) {
<div class="contact">
  <div class="title-bar">
    <h3 class="title">{{ contact.title }}</h3>
    <div class="controls">
      <app-window-controls
        [windowService]="windowService"
        [svgIconsService]="svgIconsService"
        [languageService]="languageService"
        [modalService]="modalService"
        [modal]="'unset'"
        [index]="0"
        [activeModal]="'contact'"
      ></app-window-controls>
    </div>
  </div>
  @if (windowService.ifContentOpen) {
  <div class="content" [ngClass]="{ 'modal-active': modalActive }">
    <form
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
      class="contact-form"
    >
      <div class="email-header">
        @if (!showFeedback) {
        <button
          type="submit"
          class="submit-button"
          [class.disabled]="!ifFormValid(contactForm)"
        >
          <div
            [innerHTML]="svgIconsService.returnIcon('eMail')"
            [attr.aria-hidden]="true"
          ></div>
          {{ contact.contactFormSubmit }}
        </button>
        } @else {
        <button class="submitted-button" disabled>
          <div
            [innerHTML]="svgIconsService.returnIcon('eMail')"
            [attr.aria-hidden]="true"
          ></div>
          {{ contact.contactFormSubmitted }}
        </button>
        }
        <div class="name-wrapper">
          <label for="name">{{ contact.contactFormName }}</label>
          <input
            [ngClass]="
              ifNameValid ? 'placeholder-valid' : 'placeholder-invalid'
            "
            [(ngModel)]="contactData.name"
            type="text"
            [id]="modalActive ? 'name-modal' : 'name'"
            name="name"
            placeholder="{{
              ifNameValid ? contact.placeholderName : contact.requiredName
            }}"
            autocomplete="name"
            class="form-input"
            required
            pattern="[A-Za-z\s]{2,}"
          />
        </div>
        <div class="eMail-wrapper">
          <label for="email">{{ contact.contactFormEmail }}</label>
          <input
            [ngClass]="
              ifEmailValid ? 'placeholder-valid' : 'placeholder-invalid'
            "
            [(ngModel)]="contactData.email"
            #email="ngModel"
            type="email"
            [id]="modalActive ? 'email-modal' : 'email'"
            name="email"
            placeholder="{{
              ifEmailValid ? contact.placeholderEmail : contact.requiredEmail
            }}"
            autocomplete="email"
            class="form-input"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          />
        </div>
      </div>

      <div class="email-body">
        <div class="to-wrapper">
          <p>To: contact&#64;mirkorinke.dev</p>
        </div>
        <div class="subject-wrapper">
          <label for="subject">{{ contact.contactFormSubject }}</label>
          <input
            [ngClass]="
              ifSubjectValid ? 'placeholder-valid' : 'placeholder-invalid'
            "
            [(ngModel)]="contactData.subject"
            type="text"
            [id]="modalActive ? 'subject-modal' : 'subject'"
            name="subject"
            placeholder="{{
              ifSubjectValid
                ? contact.placeholderSubject
                : contact.requiredSubject
            }}"
            autocomplete="subject"
            class="form-input"
            required
            pattern="[A-Za-z\s]{2,}"
          />
        </div>
        <textarea
          [ngClass]="
            ifMessageValid ? 'placeholder-valid' : 'placeholder-invalid'
          "
          [(ngModel)]="contactData.message"
          rows="5"
          [id]="modalActive ? 'message-modal' : 'message'"
          name="message"
          placeholder="{{
            ifMessageValid
              ? contact.placeholderMessage
              : contact.requiredMessage
          }}"
          [autocomplete]="'off'"
          class="form-textarea"
          required
        ></textarea>
      </div>
      <div class="email-footer">
        <input
          (change)="onPrivacyPolicyChange($event)"
          [(ngModel)]="privacyPolicyChecked"
          type="checkbox"
          [id]="modalActive ? 'privacy-policy-modal' : 'privacy-policy'"
          name="privacy-policy"
        />
        <p
          class="custom-checkbox"
          [class.notChecked]="privacyPolicyChecked === false"
        ></p>
        <p class="agree-text">
          {{ contact.contactFormPrivacyPolicyText1 }}
          <a class="privacy-link">{{
            contact.contactFormPrivacyPolicyText2
          }}</a>
          {{ contact.contactFormPrivacyPolicyText3 }}
        </p>
      </div>
    </form>
  </div>
  }
</div>
} @else {
<button
  class="desktop-icons"
  (click)="windowService.openWindow()"
  [innerHTML]="svgIconsService.returnIcon('document', 'desktop-icon')"
  [attr.aria-label]="
    ariaLabels.firstText + ' ' + contact.title + ' ' + ariaLabels.secondText
  "
></button>
}
