@use "../../../../functions" as *;
@use "../../../../mixins" as *;
@use "../../../../var" as *;

.textarea {
  @include display-flex(center, center, column);
  gap: px-to-rem(10);
  min-width: 100%;

  h1 {
    @include font-settings(32);
    @include dynamic-font(24, 3, 10);
    white-space: nowrap;
  }

  h2 {
    @include font-settings(128);
    @include dynamic-font(128, 10);
    white-space: nowrap;
  }

  button {
    @include button-preset;
    @include display-flex(center);
    @include font-settings();
    @include button-style("eMail");
    margin-top: px-to-rem(100);
  }
}
