@let expertise = languageService.texts.expertise; @let taps =
languageService.texts.expertise.taps; @let generalAriaLabels =
languageService.texts.general.ariaLabels.desktopIcon;
@if(windowService.ifWindowOpen) {
<div class="expertise">
  <div class="title-bar">
    <div class="taps">
      @for (tap of utilityService.objectKeys(taps); track $index) {
      <button
        class="tap"
        [class.active]="tapService.activeTapExpertise === tap"
        (click)="tapService.activateTap(tap, 'expertise'); ngOnChanges()"
        [attr.aria-pressed]="tapService.activeTapExpertise === tap"
        [attr.aria-label]="expertise.ariaLabels.taps[tap]"
        type="button"
      >
        <div class="title-area">
          <div
            [innerHTML]="
              svgIconsService.returnIcon(expertise.icons[tap], 'title-icon')
            "
          ></div>
          <p>{{ expertise.taps[tap] }}</p>
        </div>
      </button>
      }
    </div>
    <div class="controls">
      <app-window-controls
        [windowService]="windowService"
        [svgIconsService]="svgIconsService"
        [languageService]="languageService"
        [modalService]="modalService"
        [index]="0"
        [activeModal]="'expertise'"
        [activeTap]="tapService.activeTapExpertise"
        [tapService]="tapService"
      ></app-window-controls>
    </div>
  </div>
  @if (windowService.ifContentOpen) {
  <div class="content" [ngClass]="{ 'modal-active': modalActive }">
    <ng-container *ngComponentOutlet="selectedComponent"></ng-container>
  </div>
  }
</div>
} @else {
<button
  class="desktop-icons"
  (click)="windowService.openWindow()"
  [innerHTML]="svgIconsService.returnIcon('folder', 'desktop-icon')"
  [attr.aria-label]="
    generalAriaLabels.firstText +
    ' ' +
    expertise.title +
    ' ' +
    generalAriaLabels.secondText
  "
  type="button"
></button>
}
