<section>
  <div class="content">
    <div class="icons-left">
      <span
        [innerHTML]="
          svgIconsService.returnIcon('typeScript', 'typeScript hero-icons')
        "
        [attr.aria-hidden]="true"
        [attr.role]="'img'"
        [attr.alt]="'TypeScript Icon'"
      ></span>
      <span
        [innerHTML]="svgIconsService.returnIcon('API', 'API hero-icons')"
        [attr.aria-hidden]="true"
        [attr.role]="'img'"
        [attr.alt]="'API Icon'"
      ></span>
    </div>
    <div class="central-section">
      <div class="icons-top">
        <span
          [innerHTML]="
            svgIconsService.returnIcon('angular', 'angular hero-icons')
          "
          [attr.aria-hidden]="true"
          [attr.role]="'img'"
          [attr.alt]="'Angular Icon'"
        ></span>
        <span
          [innerHTML]="
            svgIconsService.returnIcon('laravel', 'laravel hero-icons')
          "
          [attr.aria-hidden]="true"
          [attr.role]="'img'"
          [attr.alt]="'Laravel Icon'"
        ></span>
      </div>
      <app-hero-section-content></app-hero-section-content>
    </div>
    <div class="icons-right">
      <span
        [innerHTML]="svgIconsService.returnIcon('PHP', 'PHP hero-icons')"
        [attr.aria-hidden]="true"
        [attr.role]="'img'"
        [attr.alt]="'PHP Icon'"
      ></span>
      <span
        [innerHTML]="svgIconsService.returnIcon('mysql', 'mysql hero-icons')"
        [attr.aria-hidden]="true"
        [attr.role]="'img'"
        [attr.alt]="'MYSQL Icon'"
      ></span>
    </div>
  </div>
</section>
