@use "../../../functions" as *;
@use "../../../mixins" as *;
@use "../../../var" as *;

section {
  background-image: var(--hero-background);
  height: 100vh;

  @media (min-height: $breakpoint-xl) and (orientation: landscape) {
    height: px-to-rem(1200);
  }

  .content {
    @include max-content-settings;
    @include display-flex(center, center);
    gap: 5%;
    min-height: 100%;
    padding-block: px-to-rem(100);

    &::ng-deep .hero-icons {
      height: clamp(px-to-rem(25), 6vw, px-to-rem(100));
      fill: var(--primary-color-10);
      filter: drop-shadow(0 px-to-rem(4) px-to-rem(4) rgba(0, 0, 0, 1));
    }

    .icons-left,
    .icons-right {
      @include display-flex(center, center, column);
      gap: px-to-rem(150);

      &::ng-deep .SCSS,
      &::ng-deep .HTML {
        transform: rotate(-10deg) translateY(px-to-rem(0));
      }

      &::ng-deep .react,
      &::ng-deep .vue {
        transform: rotate(15deg) translateY(px-to-rem(0));
      }
    }

    .central-section {
      @include display-flex(center, center, column);
      gap: px-to-rem(70);

      .icons-top {
        @include display-flex(center, space-between);
        min-width: 85%;

        &::ng-deep .typeScript {
          transform: rotate(-5deg) translateX(px-to-rem(20));
        }

        &::ng-deep .angular {
          transform: rotate(15deg) translateY(px-to-rem(-25));
        }
      }
    }
  }
}
