<section>
  <div class="content">
    <div class="icons-left">
      <span
        [innerHTML]="svgIconsService.returnIcon('SCSS', 'SCSS hero-icons')"
        [attr.aria-hidden]="true"
        [attr.role]="'img'"
        [attr.alt]="'SCSS Icon'"
      ></span>
      <span
        [innerHTML]="svgIconsService.returnIcon('HTML', 'HTML hero-icons')"
        [attr.aria-hidden]="true"
        [attr.role]="'img'"
        [attr.alt]="'HTML Icon'"
      ></span>
    </div>
    <div class="central-section">
      <div class="icons-top">
        <span
          [innerHTML]="
            svgIconsService.returnIcon('typeScript', 'typeScript hero-icons')
          "
          [attr.aria-hidden]="true"
          [attr.role]="'img'"
          [attr.alt]="'TypeScript Icon'"
        ></span>
        <span
          [innerHTML]="
            svgIconsService.returnIcon('angular', 'angular hero-icons')
          "
          [attr.aria-hidden]="true"
          [attr.role]="'img'"
          [attr.alt]="'Angular Icon'"
        ></span>
      </div>
      <app-hero-content></app-hero-content>
    </div>
    <div class="icons-right">
      <span
        [innerHTML]="svgIconsService.returnIcon('react', 'react hero-icons')"
        [attr.aria-hidden]="true"
        [attr.role]="'img'"
        [attr.alt]="'React Icon'"
      ></span>
      <span
        [innerHTML]="svgIconsService.returnIcon('vue', 'vue hero-icons')"
        [attr.aria-hidden]="true"
        [attr.role]="'img'"
        [attr.alt]="'Vue Icon'"
      ></span>
    </div>
  </div>
</section>
