@if (windowService.isWindowOpen) {
<div class="portrait">
  <div class="title-bar">
    <h3 class="title">{{ languageService.texts.aboutMe.portrait.title }}</h3>
    <div class="controls">
      <button
        (click)="windowService.closeContent()"
        [innerHTML]="svgIconsService.returnIcon('minimize', 'icon')"
        [attr.aria-label]="languageService.texts.ariaLabels.controls.minimize"
      ></button>
      <button
        (click)="windowService.openContent()"
        [innerHTML]="svgIconsService.returnIcon('maximize', 'icon')"
        [attr.aria-label]="languageService.texts.ariaLabels.controls.maximize"
      ></button>
      <button
        (click)="windowService.closeWindow()"
        [innerHTML]="svgIconsService.returnIcon('close', 'icon')"
        [attr.aria-label]="languageService.texts.ariaLabels.controls.close"
      ></button>
    </div>
  </div>
  @if (windowService.isContentOpen) {
  <div class="content">
    <img
      src="./about-me/portrait.webp"
      [alt]="languageService.texts.aboutMe.ariaLabels.portrait.content"
    />
  </div>
  }
</div>
} @else {
<button
  class="desktop-icons"
  (click)="windowService.openWindow()"
  [innerHTML]="svgIconsService.returnIcon('portrait', 'desktop-icon')"
  [attr.aria-label]="
    languageService.texts.aboutMe.ariaLabels.portrait.desktopIcon
  "
></button>
}
