@if (windowService.isWindowOpen) {
<div class="portrait">
  <div class="title-bar">
    <h3 class="title">{{ languageService.texts.aboutMe.portrait.title }}</h3>
    <div class="controls">
      <button
        (click)="windowService.closeContent()"
        [innerHTML]="svgIconsService.returnIcon('minimize', 'icon')"
        aria-label="Minimize"
      ></button>
      <button
        (click)="windowService.openContent()"
        [innerHTML]="svgIconsService.returnIcon('maximize', 'icon')"
        aria-label="Maximize"
      ></button>
      <button
        (click)="windowService.closeWindow()"
        [innerHTML]="svgIconsService.returnIcon('close', 'icon')"
        aria-label="Close"
      ></button>
    </div>
  </div>
  @if (windowService.isContentOpen) {
  <div class="content" role="main">
    <img src="./about-me/portrait.webp" alt="Portrait of Mirko Rinke" />
  </div>
  }
</div>
} @else {
<button
  class="desktop-icons"
  (click)="windowService.openWindow()"
  [innerHTML]="svgIconsService.returnIcon('portrait', 'desktop-icon')"
  aria-label="Open Portrait"
></button>
}
