@use "../../../../functions" as *;
@use "../../../../mixins" as *;
@use "../../../../var" as *;

$size: 600;

.portrait {
  @include window-default-style($size);

  .title-bar {
    @include title-bar-default-style($size);
  }

  .content {
    img {
      @include display-flex(center, center);
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.desktop-icons {
  @include desktop-icon-style(right, $size);
}
