@let taskbar = languageService.texts.taskbar; @let ariaLabels =
languageService.texts.taskbar.ariaLabels; @let generalLinks =
languageService.texts.general.links; @let generalAriaLabels =
languageService.texts.general.ariaLabels;

<section class="taskbar-wrapper">
  <div class="taskbar">
    <div class="content">
      <span
        [routerLink]="['']"
        fragment="hero"
        [innerHTML]="svgIconsService.returnIcon('logo')"
        [attr.aria-label]="generalAriaLabels.logo"
        role="img"
      ></span>

      <div class="taps">
        @for (item of utilityService.objectKeys(taskbar.taps) ; track $index) {
        <div
          (click)="modalService.openModal($index, taskbar.taps['tap' + $index])"
          class="tap"
          [attr.aria-label]="
            ariaLabels.taps.firstText +
            ' ' +
            taskbar.taps['tap' + $index] +
            ' ' +
            ariaLabels.taps.secondText
          "
        >
          <div class="title-area">
            <span
              [innerHTML]="
                svgIconsService.returnIcon(
                  taskbar.taps['tap' + $index],
                  'title-icon'
                )
              "
              [attr.aria-label]="
                ariaLabels.taps.firstText +
                ' ' +
                taskbar.taps['tap' + $index] +
                ' ' +
                ariaLabels.taps.secondText
              "
              role="img"
            ></span>
            <p>{{ taskbar.taps["tap" + $index] }}</p>
          </div>
        </div>
        }
      </div>
      <div class="short-info">
        <div class="links">
          <a
            href="{{ generalLinks.linkedin }}"
            target="_blank"
            [attr.aria-label]="generalAriaLabels.links.linkedin"
            [innerHTML]="svgIconsService.returnIcon('linkedin', 'link-icon')"
          ></a>
          <a
            href="{{ generalLinks.github }}"
            target="_blank"
            [attr.aria-label]="generalAriaLabels.links.github"
            [innerHTML]="svgIconsService.returnIcon('github', 'link-icon')"
          ></a>
        </div>
        <app-clock></app-clock>
      </div>
    </div>
  </div>
</section>
