<section class="taskbar-wrapper">
  <div class="taskbar">
    <div class="content">
      <span [innerHTML]="svgIconsService.returnIcon('logo')"></span>
      <div class="taps">
        <div class="tap">Placeholder</div>
        <div class="tap">Placeholder</div>
      </div>
      <div class="links">
        <span
          [innerHTML]="svgIconsService.returnIcon('snake', 'link-icon')"
        ></span>
        <span
          [innerHTML]="svgIconsService.returnIcon('github', 'link-icon')"
        ></span>
        <span
          [innerHTML]="svgIconsService.returnIcon('linkedin', 'link-icon')"
        ></span>
      </div>
      <div class="time-info">
        <p>{{ currentHours }}</p>
        <p>
          {{ languageService.getLanguage() === "de" ? fullDateDE : fullDateEN }}
        </p>
      </div>
    </div>
  </div>
</section>
