@use "../../../functions" as *;
@use "../../../mixins" as *;
@use "../../../var" as *;

.taskbar-wrapper {
  @include max-content-settings();
  padding-top: px-to-rem(50);
  padding-bottom: px-to-rem(25);

  .taskbar {
    @include window-default-style();
    max-width: 100%;

    .content {
      @include title-bar-default-style;
      @include display-flex(center);
      gap: 0 px-to-rem(20);

      span {
        @include display-flex(center, center);
        height: px-to-rem(40);

        &::ng-deep .logo {
          fill: var(--secondary-color);
          height: px-to-rem(30);

          transition: fill 0.3s ease-in-out;

          &:hover {
            cursor: pointer;
            path:nth-child(4),
            path:nth-child(5),
            path:nth-child(6),
            path:nth-child(7) {
              transition: fill 0.3s ease-in-out;
              fill: var(--primary-color);
            }
          }

          @media (max-width: $breakpoint-sm) {
            height: px-to-rem(25);
          }
        }
      }

      .taps {
        @include display-flex(center, start);
        @include tap-default-style;
      }

      .short-info {
        @include display-flex(center, center);
        gap: 0 px-to-rem(20);

        @media (max-width: $breakpoint-sm) {
          gap: 0 px-to-rem(5);
        }

        .links {
          @include display-flex(center, center);
          gap: 0 px-to-rem(10);

          a {
            @include display-flex(center, center);

            &::ng-deep .link-icon {
              fill: var(--secondary-color);
              height: px-to-rem(20);
              width: px-to-rem(20);

              &:hover {
                fill: var(--primary-color-hover);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
