<section class="taskbar-wrapper">
  <div class="taskbar">
    <div class="content">
      <span [innerHTML]="svgIconsService.returnIcon('logo')"></span>
      <div class="taps">
        <div class="tap">
          <span
            [innerHTML]="svgIconsService.returnIcon('snake', 'tap-icon')"
          ></span>
          <p>snake.exe</p>
        </div>
        <div class="tap">
          <span
            [innerHTML]="svgIconsService.returnIcon('dot', 'tap-icon')"
          ></span>
          <p>Placeholder</p>
        </div>
      </div>

      <div class="short-info">
        <div class="links">
          <span
            [innerHTML]="svgIconsService.returnIcon('linkedin', 'link-icon')"
          ></span>
          <span
            [innerHTML]="svgIconsService.returnIcon('github', 'link-icon')"
          ></span>
        </div>
        <div class="time-info">
          <p>{{ dateTimeService.currentHours }}</p>
          <p>
            {{
              languageService.getLanguage() === "de"
                ? dateTimeService.fullDateDE
                : dateTimeService.fullDateEN
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
