<!-- TODO aria attributes -->

@let snake = languageService.texts.snake;

<div class="game">
  <canvas
    [ngClass]="{ active: isGameRunning }"
    id="game-canvas"
    width="600"
    height="600"
  ></canvas>
  <button
    [ngClass]="{ isGameRunning: isGameRunning }"
    (click)="startGame()"
    class="start-button"
  >
    <div
      [innerHTML]="svgIconsService.returnIcon('snake.exe', 'snake')"
      [attr.aria-hidden]="true"
    ></div>
    {{
      hasWon === undefined
        ? snake.button.start
        : hasWon === true
        ? snake.button.restart
        : snake.button.gameOver
    }}
  </button>
  <div class="controls-menu" [ngClass]="{ textActive: !showControls }">
    @if (showControls) {
    <div class="game-controls">
      <button class="up">
        <div [innerHTML]="svgIconsService.returnIcon('up', 'arrow')"></div>
      </button>
      <button class="left">
        <div [innerHTML]="svgIconsService.returnIcon('left', 'arrow')"></div>
      </button>
      <button class="right">
        <div [innerHTML]="svgIconsService.returnIcon('right', 'arrow')"></div>
      </button>
      <button class="down">
        <div [innerHTML]="svgIconsService.returnIcon('down', 'arrow')"></div>
      </button>
    </div>
    } @else {
    <p>{{ snake.touchscreen }}</p>
    }
    <button (click)="toggleControls()" class="show-controls">
      <div
        [innerHTML]="
          showControls
            ? svgIconsService.returnIcon('up', 'arrow')
            : svgIconsService.returnIcon('down', 'arrow')
        "
      ></div>
    </button>
  </div>
</div>
