@let snake = languageService.texts.snake; @let ariaLabels =
languageService.texts.snake.ariaLabels;

<div class="game">
  <canvas
    [ngClass]="{ active: isGameRunning }"
    id="game-canvas"
    width="600"
    height="600"
  ></canvas>
  <button
    [ngClass]="{ isGameRunning: isGameRunning }"
    (click)="startGame()"
    class="start-button"
    type="button"
    [attr.aria-label]="
      isGameRunning ? snake.button.restart : snake.button.start
    "
  >
    <div
      [innerHTML]="svgIconsService.returnIcon('snake.exe', 'snake')"
      [attr.aria-hidden]="true"
    ></div>
    {{
      hasWon === undefined
        ? snake.button.start
        : hasWon === true
        ? snake.button.restart
        : snake.button.gameOver
    }}
  </button>
  <div class="controls-menu" [ngClass]="{ textActive: !showControls }">
    @if (showControls) {
    <div class="game-controls">
      <button class="up" [attr.aria-label]="ariaLabels.controls.moveUP">
        <div
          [innerHTML]="svgIconsService.returnIcon('up', 'arrow')"
          [attr.aria-hidden]="true"
        ></div>
      </button>
      <button class="left" [attr.aria-label]="ariaLabels.controls.moveLeft">
        <div
          [innerHTML]="svgIconsService.returnIcon('left', 'arrow')"
          [attr.aria-hidden]="true"
        ></div>
      </button>
      <button class="right" [attr.aria-label]="ariaLabels.controls.moveRight">
        <div
          [innerHTML]="svgIconsService.returnIcon('right', 'arrow')"
          [attr.aria-hidden]="true"
        ></div>
      </button>
      <button class="down" [attr.aria-label]="ariaLabels.controls.moveDown">
        <div
          [innerHTML]="svgIconsService.returnIcon('down', 'arrow')"
          [attr.aria-hidden]="true"
        ></div>
      </button>
    </div>
    } @else {
    <p>{{ snake.touchscreen }}</p>
    }
    <button
      (click)="toggleControls()"
      class="show-controls"
      [attr.aria-label]="
        showControls ? ariaLabels.hideControls : ariaLabels.showControls
      "
    >
      <div
        [innerHTML]="
          showControls
            ? svgIconsService.returnIcon('up', 'arrow')
            : svgIconsService.returnIcon('down', 'arrow')
        "
        [attr.aria-hidden]="true"
      ></div>
    </button>
  </div>
</div>

<div class="info">
  <p>Please rotate your phone to play.</p>
</div>
