<div class="game">
  <canvas id="game-canvas" width="600" height="600"></canvas>
  <button
    [ngClass]="{ isGameRunning: isGameRunning }"
    (click)="startGame()"
    class="start-button"
  >
    <div
      [innerHTML]="svgIconsService.returnIcon('snake.exe', 'snake')"
      [attr.aria-hidden]="true"
    ></div>
    {{
      hasWon === undefined
        ? "Start Game"
        : hasWon === true
        ? "You won, play again"
        : "Game Over, Play Again"
    }}
  </button>

  <div class="controls-menu">
    @if (showControls) {
    <div class="game-controls">
      <button class="up" (touchstart)="changeDirection('UP')">
        <div [innerHTML]="svgIconsService.returnIcon('up', 'arrow')"></div>
      </button>
      <button class="left" (touchstart)="changeDirection('LEFT')">
        <div [innerHTML]="svgIconsService.returnIcon('left', 'arrow')"></div>
      </button>
      <button class="right" (touchstart)="changeDirection('RIGHT')">
        <div [innerHTML]="svgIconsService.returnIcon('right', 'arrow')"></div>
      </button>
      <button class="down" (touchstart)="changeDirection('DOWN')">
        <div [innerHTML]="svgIconsService.returnIcon('down', 'arrow')"></div>
      </button>
    </div>
    } @else {
    <p>Mobile Steuerung anzeigen</p>
    }
    <button (click)="toggleControls()" class="show-controls">
      <div
        [innerHTML]="
          showControls
            ? svgIconsService.returnIcon('up', 'arrow')
            : svgIconsService.returnIcon('down', 'arrow')
        "
      ></div>
    </button>
  </div>
</div>
