@let ariaLabels = languageService.texts.colorToggle.ariaLabels;

<div [ngClass]="modalActive ? 'color-toggle modalActive' : 'color-toggle'">
  @for (color of availableColors; track color) {
  <button
    [ngClass]="{ active: currentColor === color }"
    (click)="setColor(color)"
    class="color {{ color }}"
    [attr.aria-label]="ariaLabels[color]"
    [attr.aria-pressed]="currentColor === color"
    type="button"
    [style.order]="color === defaultColor ? availableColors.length : undefined"
  ></button>
  }
</div>
