@let ariaLabels =languageService.texts.colorToggle.ariaLabels;

<div [ngClass]="modalActive ? 'color-toggle modalActive' : 'color-toggle'">
  <button
    [ngClass]="{ active: currentColor === 'violett' }"
    (click)="setColor('violett')"
    class="color violett"
    [attr.aria-label]="ariaLabels.violett"
    [attr.aria-pressed]="currentColor === 'violett'"
    type="button"
  ></button>
  <button
    [ngClass]="{ active: currentColor === 'blue' }"
    (click)="setColor('blue')"
    class="color blue"
    [attr.aria-label]="ariaLabels.blue"
    [attr.aria-pressed]="currentColor === 'blue'"
    type="button"
  ></button>
  <button
    [ngClass]="{ active: currentColor === null }"
    (click)="setColor('default')"
    class="color turquoise"
    [attr.aria-label]="ariaLabels.turquoise"
    [attr.aria-pressed]="currentColor === null"
    type="button"
  ></button>
</div>
