<section class="testimonials">
  <div class="content">
    <h2 class="heading">{{ texts.heading }}</h2>
    <div class="carousel">
      @for (testimonial of carouselTestimonials; track $index) {
      <div
        class="testimonial"
        [ngStyle]="{
          transform: getTransform($index),
          transition: playAnimation ? 'transform 0.5s ease-in-out' : 'none'
        }"
      >
        <p class="textarea">{{ testimonial.text }}</p>
        <div class="author">
          <div class="horizontal-line"></div>
          <p class="name">
            {{ testimonial.author }} - {{ testimonial.position }}
          </p>
        </div>
        <div
          class="quotes"
          [ngClass]="{
            quotes: currentIndex === $index - 1,
            'no-quotes': currentIndex !== $index - 1
          }"
        >
          <div class="quotes" [innerHTML]="returnIcon('quotes')"></div>
        </div>
      </div>
      }
    </div>
    <div class="navigation">
      <button class="button-left" (click)="prev()">
        <div class="arrow-left" [innerHTML]="returnIcon('arrowBackward')"></div>
      </button>
      @for (testimonial of testimonials; track $index) {
      <div
        class="counter"
        [class.active]="
          currentIndex === $index ||
          (currentIndex === testimonials.length && $index === 0)
        "
        [innerHTML]="returnIcon('dot')"
      ></div>
      }
      <button class="button-right" (click)="next()">
        <div class="arrow-right" [innerHTML]="returnIcon('arrowForward')"></div>
      </button>
    </div>
  </div>
</section>
