@use "../../../var" as vars;

.testimonials {
  display: flex;
  flex-direction: column;
  background-color: vars.$background;

  .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    padding-block: 144px;
    padding-inline: 96px;
    overflow-x: hidden;

    @media (max-width: vars.$breakpoint-xl) {
      max-width: 1040px;
    }

    @media (max-width: vars.$breakpoint-lg) {
      max-width: 540px;
      padding-block: 96px;
      padding-inline: 36px;
    }

    @media (max-width: vars.$breakpoint-md) {
      max-width: 310px;
      padding-block: 32px;
      padding-inline: 16px;
    }

    .heading {
      font-size: 32px;
      font-weight: bold;
      color: vars.$green;
      margin-inline: auto;
    }

    .carousel {
      display: flex;
      justify-content: start;
      gap: 64px;
      overflow: hidden;
      max-width: 100%;
      width: 100%;

      padding-left: 316px;

      @media (max-width: vars.$breakpoint-xl) {
        padding-left: 216px;
      }

      @media (max-width: vars.$breakpoint-lg) {
        padding-left: 92px;
        gap: 32px;
      }

      @media (max-width: vars.$breakpoint-md) {
        padding-left: 14px;
        gap: 16px;
      }

      .testimonial {
        display: flex;
        flex-direction: column;
        gap: 44px;
        background-color: vars.$green-10;
        border: 1px solid vars.$green;
        border-radius: 32px;
        padding: 48px 40px;
        min-width: 632px;
        margin-block: 10px;

        @media (max-width: vars.$breakpoint-xl) {
          min-width: 432px;
        }

        @media (max-width: vars.$breakpoint-lg) {
          min-width: 284px;
        }

        @media (max-width: vars.$breakpoint-md) {
          min-width: 259px;
        }

        position: relative;

        .quotes {
          position: absolute;
          top: -10px;
          left: -50px;
          z-index: 2;
        }

        .no-quotes {
          display: none;
        }

        .textarea {
          font-size: 20px;
          font-weight: 400;
          color: vars.$white;

          @media (max-width: vars.$breakpoint-lg) {
            font-size: 16px;
          }

          @media (max-width: vars.$breakpoint-md) {
            font-size: 14px;
          }
        }

        .author {
          display: flex;
          align-items: center;
          width: 100%;

          @media (max-width: vars.$breakpoint-md) {
            flex-direction: column-reverse;
            align-items: unset;
            gap: 8px;
          }

          .horizontal-line {
            flex-grow: 1;
            height: 1px;
            background-color: vars.$white;
          }

          .name {
            font-size: 18px;
            font-weight: 400;
            color: vars.$white;
            white-space: nowrap;
            margin-left: 20px;

            @media (max-width: vars.$breakpoint-lg) {
              font-size: 16px;
            }

            @media (max-width: vars.$breakpoint-md) {
              font-size: 14px;
              margin-left: 0;
            }
          }
        }
      }
    }

    .navigation {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 20px;

      .button-left,
      .button-right {
        display: flex;
        align-items: center;
        background: unset;
        border: unset;

        .arrow-left,
        .arrow-right {
          height: 18px;
          width: 18px;
          fill: vars.$white;
          transition: fill 175ms ease-in-out, transform 175ms ease-in-out;
        }

        &:hover {
          .arrow-left,
          .arrow-right {
            cursor: pointer;
            fill: vars.$green;
            transition: fill 175ms ease-in-out, transform 175ms ease-in-out;
          }

          .arrow-left {
            transform: scale(1.1) translateX(-5px);
          }

          .arrow-right {
            transform: scale(1.1) translateX(5px);
          }
        }
      }

      .counter {
        height: 8px;
        width: 8px;
        fill: vars.$white;

        &.active {
          fill: vars.$green;
        }
      }
    }
  }
}
