@use "../../../var" as vars;

.testimonials {
  display: flex;
  flex-direction: column;
  background-color: vars.$background;

  .content {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 50px;
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    padding-block: 144px;
    padding-inline: 96px;
    overflow-x: hidden;

    .heading {
      font-size: 32px;
      font-weight: bold;
      color: vars.$green;
      margin-inline: auto;
    }

    .carousel {
      display: flex;
      justify-content: start;
      gap: 64px;
      overflow: hidden;

      padding-left: 316px;

      .testimonial {
        display: flex;
        flex-direction: column;
        gap: 44px;
        background-color: vars.$green-10;
        border: 1px solid vars.$green;
        border-radius: 32px;
        padding: 48px 40px;
        min-width: 632px;

        transition: transform 0.5s ease-in-out;

        .textarea {
          font-size: 20px;
          font-weight: 400;
          color: vars.$white;
        }

        .author {
          display: flex;
          align-items: center;
          width: 100%;

          .horizontal-line {
            flex-grow: 1;
            height: 1px;
            background-color: vars.$white;
          }

          .name {
            font-size: 18px;
            font-weight: 400;
            color: vars.$white;
            white-space: nowrap;
            margin-left: 20px;
          }
        }
      }
    }

    .navigation {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 20px;

      .button-left,
      .button-right {
        display: flex;
        align-items: center;
        background: unset;
        border: unset;
        cursor: pointer;
      }

      .counter {
        height: 8px;
        width: 8px;
        fill: vars.$white;

        &.active {
          fill: vars.$green;
        }
      }
    }
  }
}
