<section class="testimonials">
  <div class="content">
    <h2 class="heading">{{ texts.heading }}</h2>
    <div class="carousel">
      @for (testimonial of carouselTestimonials; track $index) {
      <div
        class="testimonial"
        [ngStyle]="{
          transform: getTransform(),
          transition: playAnimation ? 'transform 0.5s ease-in-out' : 'none'
        }"
      >
        <p class="textarea">{{ testimonial.text }}</p>
        <div class="author">
          <div class="horizontal-line"></div>
          <p class="name">
            {{ testimonial.author }} - {{ testimonial.position }}
          </p>
        </div>
      </div>
      }
    </div>
    <div class="navigation">
      <button class="button-left" (click)="prev()">
        <img src="./images/icons/arrow_back-white.svg" alt="" />
      </button>
      @for (testimonial of testimonials; track $index) {
      <svg
        class="counter"
        [class.active]="
          currentIndex === $index ||
          (currentIndex === testimonials.length && $index === 0)
        "
        viewBox="0 0 8 8"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="4" cy="4" r="4" />
      </svg>
      }
      <button class="button-right" (click)="next()">
        <img src="./images/icons/arrow_forward-white.svg" alt="" />
      </button>
    </div>
  </div>
</section>
