@use "sass:math";
@use "./functions" as *;

@mixin max-content-settings {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-inline: px-to-rem(16);
}

@mixin display-flex($align: flex-start, $justify: flex-start, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin display-grid($align: stretch, $justify: stretch) {
  display: grid;
  align-items: $align;
  justify-items: $justify;
}

@mixin font-settings(
  $font-size: 16,
  $font-weight: 400,
  $color: var(--secondary-color),
  $font-family: "FiraCode",
  $line-height: $font-size * 1.5
) {
  font-size: px-to-rem($font-size);
  font-weight: $font-weight;
  color: $color;
  font-family: $font-family;
  line-height: px-to-rem($line-height);
}

@mixin golden-ratio-padding($font-size: 16) {
  $vertical: math.div($font-size, 2);
  $horizontal: $vertical * 1.618; // Golden ratio
  padding: px-to-rem($vertical) px-to-rem($horizontal);
}

@mixin button-preset($padding-factor: 16) {
  all: unset;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  user-select: none;
  @include golden-ratio-padding($padding-factor);
}

// Window default styles for components

@mixin window-default-style($max-width: 100%) {
  @if $max-width != 100% {
    max-width: px-to-rem($max-width);
  }
  else {
    max-width: 100%;
  }
  width: 100%;
  border: px-to-rem(1) solid var(--primary-color);
  box-shadow: 0 0 px-to-rem(10) var(--primary-color);
}

@mixin title-bar-default-style() {
  @include display-flex(center, space-between);
  border-bottom: px-to-rem(1) solid var(--primary-color);
  background-color: var(--primary-color-10);
  height: px-to-rem(50);
  padding-inline: px-to-rem(10);
}

@mixin controls {
  @include display-flex(center, end);
  gap: px-to-rem(10);

  button {
    @include button-preset();
    padding: 0;

    &::ng-deep .icon {
      @include display-flex(center, center);
      height: px-to-rem(20);
      width: px-to-rem(20);
      fill: var(--primary-color);

      &:hover {
        fill: var(--primary-color-50);
        cursor: pointer;
      }
    }
  }
}

@mixin title-default-style() {
  @include font-settings();

  &:hover {
    color: var(--secondary-color-80);
  }
}

@mixin tap-default-style() {
  @include button-preset();
  @include font-settings();
  @include display-flex(center, space-between);

  background-color: var(--primary-color-10);
  border-radius: px-to-rem(5);
  height: px-to-rem(20);
  max-width: px-to-rem(260);
  width: 100%;

  &::ng-deep .icon {
    @include display-flex(center, center);
    height: px-to-rem(10);
    width: px-to-rem(10);
    fill: var(--primary-color);
    margin-bottom: px-to-rem(10);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--primary-color-25);
  }

  &.active {
    background-color: var(--primary-color-25);
  }
}

@mixin window-content {
  background-color: var(--primary-color-10);
  color: var(--secondary-color);
  padding: px-to-rem(10);
  scrollbar-color: var(--primary-color) rgb(28, 28, 28);
  overflow-y: auto;

  &:hover p {
    color: var(--secondary-color-80);
  }
}

@mixin desktop-icon-style($position: center) {
  @include display-flex(start, $position);
  height: fit-content;
  width: 100%;
  padding: 0;

  &::ng-deep .desktop-icon {
    @include display-flex(center, center);
    height: px-to-rem(50);
    width: px-to-rem(50);
    fill: var(--primary-color);

    &:hover {
      fill: var(--primary-color-50);
      cursor: pointer;
    }
  }
}
