@use "./var" as vars;

@mixin default-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid vars.$white;
  border-radius: 100px;
  padding: 13px 24px;
  color: vars.$white;
  transition: border-color 0ms;
  width: fit-content;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    border-color: vars.$green;
    transition: border-color 2s;
  }

  &:hover span {
    animation: scroll-text 1.5s linear infinite;
    transition: color 1.5s ease-in-out;
    color: vars.$green;
  }

  @keyframes scroll-text {
    0% {
      transform: translateX(0%);
    }
    49.99% {
      transform: translateX(-150%);
    }
    50% {
      transform: translateX(150%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}
