@use "./functions" as *;

@mixin max-content-settings {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-inline: px-to-rem(16);
}

@mixin display-flex($align: flex-start, $justify: flex-start, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin font-settings(
  $font-size: 16,
  $font-weight: 400,
  $color: var(--secondary-color),
  $font-family: "FiraCode",
  $line-height: $font-size * 1.5
) {
  font-size: px-to-rem($font-size);
  font-weight: $font-weight;
  color: $color;
  font-family: $font-family;
  line-height: px-to-rem($line-height);
}

@mixin golden-padding($font-size: 16) {
  $vertical: $font-size / 2;
  $horizontal: $vertical * 1.618; // Golden ratio
  padding: px-to-rem($vertical) px-to-rem($horizontal);
}

@mixin button-preset($padding-factor: 16) {
  all: unset;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  user-select: none;
  @include golden-padding($padding-factor);
}

// Window default styles for components

@mixin window-default-style($max-width: 500) {
  max-width: px-to-rem($max-width);
  width: 100%;
  border: px-to-rem(1) solid var(--primary-color);
  box-shadow: 0 0 px-to-rem(10) var(--primary-color);
}

@mixin title-bar-default-style($min-width: 500) {
  @include display-flex(center, space-between);
  border-bottom: px-to-rem(1) solid var(--primary-color);
  background-color: var(--primary-color-10);
  height: px-to-rem(50);
  min-width: px-to-rem($min-width);
  width: 100%;
  padding-inline: px-to-rem(10);

  .title {
    @include font-settings();
  }

  .controls {
    @include display-flex(center, end);
    gap: px-to-rem(10);

    &::ng-deep .icon {
      @include display-flex(center, center);
      height: px-to-rem(20);
      width: px-to-rem(20);
      fill: var(--primary-color);

      &:hover {
        fill: var(--primary-color-50);
        cursor: pointer;
      }
    }
  }
}

@mixin desktop-icon {
  margin-left: calc(px-to-rem(300) - px-to-rem(50));
  height: fit-content;
  width: fit-content;

  &::ng-deep .desktop-icon {
    @include display-flex(center, center);
    height: px-to-rem(100);
    width: px-to-rem(100);
    fill: var(--primary-color);

    &:hover {
      fill: var(--primary-color-50);
      cursor: pointer;
    }
  }
}
