@use "functions" as *;

/* Colors */

@mixin color-theme() {
  --primary-color-rgb: 102, 71, 148;
  --secondary-color-rgb: 255, 255, 255;
  --background-color-rgb: 10, 10, 15;

  --invalid: rgba(236, 123, 123, 0.8);

  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-80: rgba(var(--primary-color-rgb), 0.8);
  --primary-color-50: rgba(var(--primary-color-rgb), 0.5);
  --primary-color-25: rgba(var(--primary-color-rgb), 0.25);
  --primary-color-10: rgba(var(--primary-color-rgb), 0.1);
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.8);

  --secondary-color: rgb(var(--secondary-color-rgb));
  --secondary-color-80: rgba(var(--secondary-color-rgb), 0.8);
  --secondary-color-50: rgba(var(--secondary-color-rgb), 0.5);
  --secondary-color-25: rgba(var(--secondary-color-rgb), 0.25);
  --secondary-color-10: rgba(var(--secondary-color-rgb), 0.1);
  --secondary-color-hover: rgba(var(--secondary-color-rgb), 0.8);

  --background-color: rgb(var(--background-color-rgb));
  --background-color-80: rgba(var(--background-color-rgb), 0.8);
  --background-color-50: rgba(var(--background-color-rgb), 0.5);
  --background-color-25: rgba(var(--background-color-rgb), 0.25);
  --background-color-10: rgba(var(--background-color-rgb), 0.1);

  --hero-background: linear-gradient(
    45deg,
    rgb(var(--background-color-rgb)) 23%,
    rgba(var(--primary-color-rgb), 0.4) 100%
  );
}

:root {
  @include color-theme();
}

.violett {
  @include color-theme();
  --background-color-rgb: 10, 10, 15;
  --primary-color-rgb: 102, 71, 148;

  --cursor-url: url("../public/violett.svg"), auto;
  --cursor-arrow-back: url("../public/arrow-back-violett.svg"), auto;
  --cursor-arrow-forward: url("../public/arrow-forward-violett.svg"), auto;
}

.turquoise {
  @include color-theme();
  --background-color-rgb: 28, 28, 28;
  --primary-color-rgb: 61, 207, 182;

  --cursor-url: url("../public/turquoise.svg"), auto;
  --cursor-arrow-back: url("../public/arrow-back-turquoise.svg"), auto;
  --cursor-arrow-forward: url("../public/arrow-forward-turquoise.svg"), auto;
}

.blue {
  @include color-theme();
  --background-color-rgb: 15, 20, 40;
  --primary-color-rgb: 74, 144, 226;

  --cursor-url: url("../public/blue.svg"), auto;
  --cursor-arrow-back: url("../public/arrow-back-blue.svg"), auto;
  --cursor-arrow-forward: url("../public/arrow-forward-blue.svg"), auto;
}

/* @media breakpoints */

/** 1280px oder schmaler */
$breakpoint-xl: px-to-rem(1280) !default;

/** 1024px oder schmaler */
$breakpoint-lg: px-to-rem(1024) !default;

/** 768px oder schmaler */
$breakpoint-md: px-to-rem(768) !default;

/** 640px oder schmaler */
$breakpoint-sm: px-to-rem(640) !default;

/** 450px oder schmaler */
$breakpoint-xs: px-to-rem(450) !default;

/** 384px oder schmaler */
$breakpoint-xxs: px-to-rem(384) !default;

/** 1280px oder schmaler */
@media (max-width: $breakpoint-xl) {
}

/** 1024px oder schmaler */
@media (max-width: $breakpoint-lg) {
}

/** 768px oder schmaler */
@media (max-width: $breakpoint-md) {
}

/** 640px oder schmaler */
@media (max-width: $breakpoint-sm) {
}

/** 450px oder schmaler */
@media (max-width: $breakpoint-xs) {
}

/** 384px oder schmaler */
@media (max-width: $breakpoint-xxs) {
}
