/* Colors */

$hero-background: linear-gradient(-138deg, #1c1c1c 23%, #08463b 100%);
$skills-background: radial-gradient(
  circle,
  rgba(8, 70, 59, 0.3) 0%,
  #1c1c1c 100%
);

$green: #3dcfb6;
$green-50: rgba($green, 0.5);
$green-30: rgba($green, 0.3);
$green-10: rgba($green, 0.1);
$white: #fff;
$white-80: rgba($white, 0.8);

/* @media breakpoints */

/** 1200px oder schmaler */
$breakpoint-lg: 1200px !default;

/** 900px oder schmaler */
$breakpoint-md: 900px !default;

/** 600px oder schmaler */
$breakpoint-sm: 600px !default;

/** 450px oder schmaler */
$breakpoint-xs: 450px !default;

/** 300px oder schmaler */
$breakpoint-xxs: 350px !default;

/** 1200px oder schmaler */
// @media (max-width: vars.$breakpoint-lg) {
// }
/** 900px oder schmaler */
// @media (max-width: vars.$breakpoint-md) {
// }
/** 600px oder schmaler */
// @media (max-width: vars.$breakpoint-sm) {
// }
/** 450px oder schmaler */
// @media (max-width: vars.$breakpoint-xs) {
// }
/** 350px oder schmaler */
// @media (max-width: vars.$breakpoint-xxs) {
// }
