/* You can add global styles to this file, and also import other style files */

@use "./var" as vars;
@use "./_fonts";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Karla";
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgb(60, 60, 60) rgb(28, 28, 28);
}

body {
  background-color: var(--background);
}

a {
  text-decoration: none;
}

svg {
  user-select: none;
}

img {
  user-select: none;
}
