@use "./var" as vars;
@use "./fonts";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Karla";
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgb(60, 60, 60) rgb(28, 28, 28);
}

body {
  background-color: var(--background-color);
  cursor: var(--cursor-url);

  ::selection {
    background: var(--primary-color-50);
    color: var(--secondary-color);
  }
}

a {
  text-decoration: none;
}

svg {
  user-select: none;
}

img {
  user-select: none;
}
