@let ariaLabels = languageService.texts.navigation.ariaLabels;

<nav [ngClass]="modalActive ? 'modalActive' : 'site-navigation'">
  <ul>
    <li>
      <a
        [routerLink]="['']"
        fragment="hero"
        (click)="modalService.closeModal()"
        [ngClass]="{
          active: currentFragment() === 'hero' || currentFragment() === ''
        }"
        [attr.aria-label]="ariaLabels.links.home"
        [attr.aria-current]="currentFragment() === 'hero' ? 'page' : null"
        >{{ languageService.texts.navigation.home }}</a
      >
    </li>
    <li>
      <a
        [routerLink]="['']"
        fragment="about-me"
        (click)="modalService.closeModal()"
        [ngClass]="{ active: currentFragment() === 'about-me' }"
        [attr.aria-label]="ariaLabels.links.aboutMe"
        [attr.aria-current]="currentFragment() === 'about-me' ? 'page' : null"
        >{{ languageService.texts.navigation.aboutMe }}</a
      >
    </li>
    <li>
      <a
        [routerLink]="['']"
        fragment="expertise"
        (click)="modalService.closeModal()"
        [ngClass]="{ active: currentFragment() === 'expertise' }"
        [attr.aria-label]="ariaLabels.links.expertise"
        [attr.aria-current]="currentFragment() === 'expertise' ? 'page' : null"
        >{{ languageService.texts.navigation.expertise }}</a
      >
    </li>
    <li>
      <a
        [routerLink]="['']"
        fragment="projects"
        (click)="modalService.closeModal()"
        [ngClass]="{ active: currentFragment() === 'projects' }"
        [attr.aria-label]="ariaLabels.links.projects"
        [attr.aria-current]="currentFragment() === 'projects' ? 'page' : null"
        >{{ languageService.texts.navigation.projects }}</a
      >
    </li>
    <li>
      <a
        [routerLink]="['']"
        fragment="contact"
        (click)="modalService.closeModal()"
        [ngClass]="{ active: currentFragment() === 'contact' }"
        [attr.aria-label]="ariaLabels.links.contact"
        [attr.aria-current]="currentFragment() === 'contact' ? 'page' : null"
        >{{ languageService.texts.navigation.contact }}</a
      >
    </li>
  </ul>
</nav>
