<!-- TODO aria attributes -->

<nav [ngClass]="modalActive ? 'modalActive' : 'site-navigation'">
  <ul>
    <li>
      <a
        [routerLink]="['']"
        fragment="hero"
        (click)="modalService.closeModal()"
        [ngClass]="{ active: currentFragment() === 'hero' }"
        >{{ languageService.texts.navigation.home }}</a
      >
    </li>
    <li>
      <a
        [routerLink]="['']"
        fragment="about-me"
        (click)="modalService.closeModal()"
        [ngClass]="{ active: currentFragment() === 'about-me' }"
        >{{ languageService.texts.navigation.aboutMe }}</a
      >
    </li>
    <li>
      <a
        [routerLink]="['']"
        fragment="expertise"
        (click)="modalService.closeModal()"
        [ngClass]="{ active: currentFragment() === 'expertise' }"
        >{{ languageService.texts.navigation.skills }}</a
      >
    </li>
    <li>
      <a
        [routerLink]="['']"
        fragment="projects"
        (click)="modalService.closeModal()"
        [ngClass]="{ active: currentFragment() === 'projects' }"
        >{{ languageService.texts.navigation.projects }}</a
      >
    </li>
    <li>
      <a
        [routerLink]="['']"
        fragment="contact"
        (click)="modalService.closeModal()"
        [ngClass]="{ active: currentFragment() === 'contact' }"
        >{{ languageService.texts.navigation.contact }}</a
      >
    </li>
  </ul>
</nav>
