@use "../../../functions" as *;
@use "../../../mixins" as *;
@use "../../../var" as *;

.site-navigation {
  ul {
    @include display-flex();
    gap: px-to-rem(20);

    li {
      list-style-type: none;

      a {
        @include font-settings;
        white-space: nowrap;

        transition: color 0.3s ease-in-out;

        &:hover {
          transition: color 0.3s ease-in-out;
          color: var(--primary-color-hover);
          cursor: pointer;
        }

        &.active {
          color: var(--primary-color-hover);
        }
      }
    }
  }
}

.modalActive {
  ul {
    @include display-flex(center, center, column);
    gap: px-to-rem(20);

    li {
      @include display-flex(center, center);
      list-style-type: none;
      min-width: 100%;

      a {
        @include font-settings;
        white-space: nowrap;
        display: block;
        width: 100%;
        text-align: center;
        padding: px-to-rem(5) 0;

        transition: color 0.3s ease-in-out;

        &:hover {
          transition: color 0.3s ease-in-out;
          color: var(--primary-color-hover);
          cursor: pointer;
        }

        &.active {
          background-color: var(--primary-color-hover);
          color: var(--secondary-color);
        }
      }
    }
  }
}
