@use "../../../functions" as *;
@use "../../../mixins" as *;
@use "../../../var" as *;

nav {
  ul {
    @include display-flex();
    gap: px-to-rem(30);

    li {
      list-style-type: none;

      a {
        @include font-settings-default;
        transition: color 0.3s ease-in-out;

        &:hover {
          transition: color 0.3s ease-in-out;
          color: var(--primary-color);
          cursor: pointer;
        }
      }
    }
  }
}
