@use "../../../functions" as *;
@use "../../../mixins" as *;
@use "../../../var" as *;

nav {
  ul {
    @include display-flex();
    gap: px-to-rem(30);

    li {
      list-style-type: none;

      a {
        @include font-settings;
        white-space: nowrap;

        transition: color 0.3s ease-in-out;

        &:hover {
          transition: color 0.3s ease-in-out;
          color: var(--primary-color-hover);
          cursor: pointer;
        }

        &.active {
          color: var(--primary-color-hover);
        }
      }
    }
  }
}
