@use "../../../functions" as *;
@use "../../../mixins" as *;
@use "../../../var" as *;

footer {
  @include max-content-settings();
  padding-bottom: px-to-rem(25);

  .content {
    @include display-flex(center, center);
    gap: 0 px-to-rem(20);

    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
    }

    .copyright {
      @include display-flex(center, center);
      gap: 0 px-to-rem(5);
      span {
        @include display-flex(center, center);
        height: px-to-rem(40);

        &::ng-deep .copyright {
          fill: var(--secondary-color);
          height: px-to-rem(20);
        }
      }

      & p {
        @include font-settings();
        white-space: nowrap;
      }

      &:hover p,
      &:hover span::ng-deep .copyright {
        color: var(--primary-color-hover);
        fill: var(--primary-color-hover);
      }
    }

    .links {
      @include display-flex(center, center);

      gap: 0 px-to-rem(20);

      & button {
        @include button-preset();
        @include font-settings();
      }

      & button:hover {
        color: var(--primary-color-hover);
        cursor: pointer;
      }
    }
  }
}
