<!-- TODO aria attributes -->

<footer>
  <div class="content">
    <div class="copyright">
      <span
        [innerHTML]="svgIconsService.returnIcon('copyright', 'copyright')"
      ></span>
      <p>Mirko Rinke {{ currentYear }}</p>
    </div>
    <div class="links">
      <p (click)="modalService.openModal('unset', 1, 'imprint')">
        {{ languageService.texts.footer.imprint }}
      </p>
      <p (click)="modalService.openModal('unset', 1, 'privacyPolicy')">
        {{ languageService.texts.footer.privacyPolicy }}
      </p>
    </div>
  </div>
</footer>
