<footer class="footer">
  <div class="content">
    <div class="desktop">
      <div class="footer-logo">
        <div
          [routerLink]="['']"
          (click)="scrollToTop(); resetActiveLink()"
          class="logo"
          [innerHTML]="returnIcon('logo')"
        ></div>
        <div class="info">
          <p>{{ texts.position }}</p>
          <p>{{ texts.location }}</p>
        </div>
      </div>
      <div class="copyright-desktop">© Mirko Rinke {{ getYear() }}</div>
      <div class="links">
        <a href="https://github.com/MirkoRinke" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/mirkorinke" target="_blank"
          >LinkedIn</a
        >
        <a href="mailto:contact@mirkorinke.dev">Email</a>
        <a [routerLink]="['/imprint']">{{ texts.imprint }}</a>
        <a [routerLink]="['/privacy']">{{ texts.privacy }}</a>
      </div>
    </div>
    <div class="copyright-mobile">© Mirko Rinke {{ getYear() }}</div>
  </div>
</footer>
