<footer class="footer">
  <div class="content">
    <div class="footer-logo">
      <img
        onclick="window.location.href='#';"
        class="logo"
        src="./images/logo-MR.svg"
        alt="logo"
      />
      <div class="info">
        <p>Web Developer</p>
        <p>Hildesheim Germany</p>
      </div>
    </div>
    <div class="copyright">© Mirko Rinke 2024</div>
    <div class="links">
      <a href="https://github.com/MirkoRinke" target="_blank">Github</a>
      <a href="https://www.linkedin.com/in/mirkorinke" target="_blank"
        >LinkedIn</a
      >
      <a href="mailto:contact@mirkorinke.dev">Email</a>
      <a href="">Legal Notice</a>
    </div>
  </div>
</footer>
