@use "../../../var" as vars;

.footer {
  display: flex;
  background-color: vars.$background;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    padding-top: 144px;
    padding-bottom: 64px;
    padding-inline: 96px;

    .footer-logo {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 16px;
        font-weight: 400;
        color: vars.$white;
      }
    }

    .copyright {
      font-size: 18px;
      font-weight: 400;
      color: vars.$green;
    }

    .links {
      display: flex;
      flex-direction: column;
      padding-top: 42px;
      gap: 8px;

      & a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        color: vars.$white;
        position: relative;
        transition: all 175ms ease-in-out;

        &::after {
          content: "•";
          position: absolute;
          color: vars.$green;
          font-size: 30px;
          height: 30px;
          opacity: 0;
          top: -8px;
          left: -15px;
          transition: all 175ms ease-in-out;
        }

        &:hover {
          transition: all 175ms ease-in-out;
          color: vars.$green;
          &::after {
            transition: all 175ms ease-in-out;
            opacity: 1;
          }
        }
      }
    }
  }
}
