<div class="controls">
  <button
    (click)="
      !modalService.ifModalOpen
        ? windowService.closeContent()
        : modalService.closeModal()
    "
    [innerHTML]="svgIconsService.returnIcon('minimize', 'icon')"
    [attr.aria-label]="languageService.texts.ariaLabels.controls.minimize"
  ></button>
  <button
    (click)="
      !modalService.ifModalOpen && windowService.ifContentOpen
        ? openModal()
        : windowService.ifContentOpen
        ? modalService.closeModal()
        : windowService.openContent()
    "
    [innerHTML]="svgIconsService.returnIcon('maximize', 'icon')"
    [attr.aria-label]="languageService.texts.ariaLabels.controls.maximize"
  ></button>
  <button
    (click)="
      !modalService.ifModalOpen
        ? windowService.closeWindow()
        : modalService.closeModal()
    "
    [innerHTML]="svgIconsService.returnIcon('close', 'icon')"
    [attr.aria-label]="languageService.texts.ariaLabels.controls.close"
  ></button>
</div>
