@let generalAriaLabels = languageService.texts.general.ariaLabels.controls;

<div class="controls">
  <button
    (click)="
      !modalService.ifModalOpen
        ? windowService.closeContent()
        : modalService.closeModal()
    "
    [innerHTML]="svgIconsService.returnIcon('minimize', 'icon')"
    [attr.aria-label]="generalAriaLabels.minimize"
    type="button"
  ></button>
  <button
    (click)="
      !modalService.ifModalOpen && windowService.ifContentOpen
        ? openModal()
        : windowService.ifContentOpen
        ? modalService.closeModal()
        : windowService.openContent()
    "
    [innerHTML]="svgIconsService.returnIcon('maximize', 'icon')"
    [attr.aria-label]="generalAriaLabels.maximize"
    type="button"
  ></button>
  <button
    (click)="
      !modalService.ifModalOpen
        ? windowService.closeWindow()
        : modalService.closeModal()
    "
    [innerHTML]="svgIconsService.returnIcon('close', 'icon')"
    [attr.aria-label]="generalAriaLabels.close"
    type="button"
  ></button>
</div>
