<nav class="nav-bar">
  <div
    [routerLink]="['']"
    (click)="navigationService.resetActiveLink()"
    class="logo-small"
    [innerHTML]="returnIcon('logoSmall')"
  ></div>
  <div
    class="left-side"
    (click)="navigationService.closeMenu()"
    [ngClass]="{ 'menu-is-open': navigationService.isMenuOpen() }"
  >
    <app-language-toggle class="language-toggle"></app-language-toggle>
    <div
      (click)="$event.stopPropagation()"
      class="nav-links"
      [ngClass]="{ 'toggle-menu': navigationService.isMenuOpen() }"
    >
      @if (!isHomeRoute()) {
      <a
        [routerLink]="['']"
        (click)="
          navigationService.resetActiveLink(); navigationService.closeMenu()
        "
        [class.active]="activeLink === 'aboutMe'"
        >{{ texts.home }}</a
      >
      }

      <a
        (click)="
          scrollToSection('about-me');
          navigationService.setActiveLink('aboutMe');
          navigationService.closeMenu()
        "
        [class.active]="activeLink === 'aboutMe'"
        >{{ texts.aboutMe }}</a
      >
      <a
        (click)="
          scrollToSection('skills');
          navigationService.setActiveLink('skills');
          navigationService.closeMenu()
        "
        [class.active]="activeLink === 'skills'"
        >{{ texts.skills }}</a
      >
      <a
        (click)="
          scrollToSection('featured-project');
          navigationService.setActiveLink('projects');
          navigationService.closeMenu()
        "
        [class.active]="activeLink === 'projects'"
        >{{ texts.projects }}</a
      >
      <app-language-toggle class="language-toggle-menu"></app-language-toggle>
      <app-color-toggle class="color-toggle-menu"></app-color-toggle>
    </div>
  </div>
  <div class="right-side">
    <app-color-toggle></app-color-toggle>
    <div
      [routerLink]="['']"
      (click)="navigationService.resetActiveLink()"
      class="logo"
      [innerHTML]="returnIcon('logo')"
    ></div>
  </div>
  <div (click)="navigationService.toggleMenu()" class="menu">
    <div class="icon" [innerHTML]="returnIcon('menu')"></div>
  </div>
</nav>
