@use "../../../var" as vars;

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 98px;
  margin-inline: auto;
  padding-inline: 96px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  @media (max-width: vars.$breakpoint-lg) {
    padding-inline: 48px;
  }

  @media (max-width: vars.$breakpoint-sm) {
    padding-inline: 16px;
  }

  .logo-small {
    display: none;
    min-width: 35px;
    fill: var(--primary-color);

    &:hover {
      cursor: pointer;
    }

    @media (max-width: vars.$breakpoint-lg) {
      display: block;
      height: 50px;
      width: auto;
    }
  }

  .left-side {
    display: flex;
    align-items: center;
    gap: 24px;

    &.menu-is-open {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9999;
    }

    .language-toggle {
      display: block;

      @media (max-width: vars.$breakpoint-lg) {
        display: none;
      }
    }

    .nav-links {
      display: flex;
      gap: 24px;

      &.toggle-menu {
        display: flex;
      }

      @media (max-width: vars.$breakpoint-lg) {
        display: none;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--primary-color);
        border-radius: 30px;
        background-image: var(--menu-background);
        padding: 40px 77px;
        position: fixed;
        top: 100px;
        right: 50px;
        z-index: 10000;

        @media (max-width: vars.$breakpoint-xs) {
          right: 30px;
        }
      }

      .language-toggle-menu {
        display: none;

        @media (max-width: vars.$breakpoint-lg) {
          display: block;
        }
      }

      .color-toggle-menu {
        display: none;

        @media (max-width: vars.$breakpoint-lg) {
          display: block;
        }
      }

      & a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--secondary-color);
        position: relative;

        &:hover {
          cursor: pointer;
        }

        &.active {
          color: var(--primary-color);
          &::after {
            visibility: visible;
          }
        }

        &::after {
          content: "•";
          position: absolute;
          color: var(--primary-color);
          font-size: 30px;
          height: 30px;
          visibility: hidden;
          bottom: -15px;

          @media (max-width: vars.$breakpoint-lg) {
            bottom: 0;
            right: -20px;
          }
        }

        &:hover {
          &::after {
            visibility: visible;
          }
        }
      }
    }
  }

  .right-side {
    display: flex;
    align-items: center;
    gap: 24px;

    @media (max-width: vars.$breakpoint-lg) {
      display: none;
    }

    .logo {
      min-width: 132px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .menu {
    display: none;
    align-items: center;
    z-index: 9999;

    .icon {
      height: 32px;
      width: 32px;
      fill: var(--secondary-color);
    }

    &:hover {
      cursor: pointer;

      & .icon {
        fill: var(--primary-color);
      }
    }

    @media (max-width: vars.$breakpoint-lg) {
      display: flex;
    }
  }
}
