<nav class="nav-bar">
  <div
    [routerLink]="['']"
    (click)="resetActiveLink()"
    class="logo-small"
    [innerHTML]="returnIcon('logoSmall')"
  ></div>
  <div
    class="left-side"
    (click)="closeMenu()"
    [ngClass]="{ 'menu-is-open': showMenu }"
  >
    @if (isHomeRoute()) {
    <app-language-toggle class="language-toggle"></app-language-toggle>
    <div
      (click)="$event.stopPropagation()"
      class="nav-links"
      [ngClass]="{ 'toggle-menu': showMenu }"
    >
      <a
        (click)="
          scrollToSection('about-me'); setActiveLink('aboutMe'); closeMenu()
        "
        [class.active]="activeLink === 'aboutMe'"
        >{{ texts.aboutMe }}</a
      >
      <a
        (click)="
          scrollToSection('skills'); setActiveLink('skills'); closeMenu()
        "
        [class.active]="activeLink === 'skills'"
        >{{ texts.skills }}</a
      >
      <a
        (click)="
          scrollToSection('featured-project');
          setActiveLink('projects');
          closeMenu()
        "
        [class.active]="activeLink === 'projects'"
        >{{ texts.projects }}</a
      >
      <app-language-toggle class="language-toggle-menu"></app-language-toggle>
      <app-color-toggle class="color-toggle-menu"></app-color-toggle>
    </div>
    }
  </div>

  <div class="right-side">
    <app-color-toggle></app-color-toggle>
    <div
      [routerLink]="['']"
      (click)="resetActiveLink()"
      class="logo"
      [innerHTML]="returnIcon('logo')"
    ></div>
  </div>

  @if (isHomeRoute()) {
  <div (click)="openMenu()" class="menu">
    <div class="icon" [innerHTML]="returnIcon('menu')"></div>
  </div>
  }
</nav>
