@use "../../../var" as vars;

.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;

  background-color: var(--secondary-color-12);
  transform: rotate(-3deg);
  // width: 1440px;
  width: 110%;
  margin-inline: auto;
  overflow: hidden;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;

  &:hover .words {
    animation-play-state: paused;
  }

  .words {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    animation: scroll 15s linear infinite;
    padding: 0;
    padding-block: 13px;
    margin: 0;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;

    span {
      font-size: 32px;
      font-weight: 400;
      color: var(--primary-color);
      white-space: nowrap;
      padding-inline: 55px;

      @media (max-width: vars.$breakpoint-sm) {
        font-size: 20px;
        padding-inline: 20px;
      }
    }

    @keyframes scroll {
      0% {
        transform: translate3d(33.334%, 0, 0);
      }
      100% {
        transform: translate3d(-66.666%, 0, 0);
      }
    }
  }
}
