@use "../../../var" as vars;

.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  white-space: nowrap;

  background-color: var(--secondary-color-12);
  transform: rotate(-3deg);
  // width: 1440px;
  width: 110%;
  margin-inline: auto;
  overflow: hidden;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;

  &:hover .words {
    animation-play-state: paused;
  }

  .words {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll 30s linear infinite;
    padding: 13px 32px;

    span {
      font-size: 32px;
      font-weight: 400;
      color: var(--primary-color);
      white-space: nowrap;
      margin-inline: 55px;

      @media (max-width: vars.$breakpoint-sm) {
        font-size: 20px;
        margin-inline: 20px;
      }
    }

    @keyframes scroll {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
}
