@use "../../../../../functions" as *;
@use "../../../../../mixins" as *;
@use "../../../../../var" as *;

.modal-content {
  @include display-flex();
  max-width: px-to-rem(1000);
  height: 100%;
  position: relative;

  img {
    width: 100%;
    height: auto;
    margin-inline: auto;
  }

  .left {
    position: absolute;
    top: 50%;
    left: px-to-rem(20);
    transform: translateY(-50%);
  }

  .right {
    position: absolute;
    top: 50%;
    right: px-to-rem(20);
    transform: translateY(-50%);
  }

  ::ng-deep .icon {
    @include display-flex(center, center);
    height: px-to-rem(35);
    width: px-to-rem(35);
    fill: transparent;
    transition: fill 0.3s ease-in-out;

    &:hover {
      transition: fill 0.3s ease-in-out;
      fill: var(--primary-color);
      cursor: pointer;
    }
  }
}
