@use "../../../../../functions" as *;
@use "../../../../../mixins" as *;
@use "../../../../../var" as *;

.modal-content {
  @include display-flex();
  max-width: px-to-rem(1000);
  height: 100%;
  position: relative;

  img {
    width: 100%;
    height: auto;
    margin-inline: auto;
  }

  .left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 100%;
    width: 50%;

    &:hover {
      cursor: var(--cursor-arrow-back);
    }
  }

  .right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 100%;
    width: 50%;

    &:hover {
      cursor: var(--cursor-arrow-forward);
    }
  }
}
