@let certificateModal =
languageService.texts.expertise.certificates.certificateModal; @let ariaLabels =
languageService.texts.expertise.ariaLabels.certificateModal;

<div class="modal-content">
  <span
    class="left"
    (click)="
      modalService.prevModal(modalService.modal, index - 1, 'certificate')
    "
    [attr.aria-label]="ariaLabels.previous"
  ></span>
  <img
    [src]="modal[index].image"
    [alt]="
      (languageService.getLanguage() === 'de'
        ? modal[index].titleDE
        : modal[index].titleEN) +
      ' ' +
      certificateModal.content
    "
  />
  <span
    class="right"
    (click)="
      modalService.nextModal(modalService.modal, index + 1, 'certificate')
    "
    [attr.aria-label]="ariaLabels.next"
  ></span>
</div>
